<div class="sign-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4" >
        <div class="outer">
          <div class="middle">
            <div class="inner">
             <div class="sign-inner" align="center">
              <img src="/assets/logo1.png" class="sign-logo" width="100%" />
              <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {id: "new_session"}) do |f| %>
              <div class="form-group">
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control sign-input", placeholder: "Email", required: true, "data-msg-required": "Email required"  %>
              </div>
              <div class="form-group">
                <%= f.password_field :password, autocomplete: "off", class: "form-control sign-input", placeholder: "Password", required: true, "data-msg-required": "Password required" %>
              </div>

              <%= f.submit "Log in", class: "btn-main btn btn-block" %>
              <br>
              <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
               <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
              <% end %>
              <h3>Having trouble logging in?</h3>
              <h3 class="mt10">or</h3>
              <%= link_to "Sign up", new_registration_path(resource_name), class: "btn-signup btn btn-block" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<div class="signin-footer">
  <div class="container-fluid">
    <div class="pull-left">
      <p>Privacy     |     Legal     |     Terms & Condition</p>
    </div>
    <div class="pull-right">
      <p>© Copyright 2018</p>
    </div>
  </div>

</div>

</div>
<script>
$(document).ready(function(){
  $("#new_session").validate();
});
</script>
