
<div class="container">
  <div class="vertical-align-content">
    <div class="col-sm-4 col-sm-offset-4">
      <div class="outer">
        <div class="middle">
          <div class="block-login">

            <div class="sign-logo mb20" align="center">
              <img src="/assets/logo.png">
            </div>

            <div class="block-login-content">
              <h1>Change Password</h1>
              <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {id: "change_password", method: :put}) do |f| %>
              <%= render 'shared/errors', object: f.object %>

                <div class="form-group">
                  <%= f.password_field :password, autofocus: true, autocomplete: "off", class: "form-control", id: "password", placeholder: "New Password", required: true, "data-msg-required": "New password required" %>
                </div>
                <div class="form-group">
                  <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", id: "confirm_password", placeholder: "Re-enter Password", required: true, "data-msg-required": "Please re- enter password", equalTo: "#password" %>
                </div>

                <div class="form-group">
                  <%= f.password_field :current_password, autocomplete: "off", class: "form-control", placeholder: "Current Password", required: true, "data-msg-required": "Current password is required"%>
                </div>

                <button class="btn btn-primary btn-block mb10" type="submit">Update Password</button>

              <% end %>
              <%= link_to "Back", admin_root_path %>
              <div class="sp"></div>

            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<script>
  $(document).ready(function(){
    $("#change_password").validate();
  });
</script>
