<%= select_tag "delivery_status", options_for_select([ "Delivered", "Undelivered" ], @order.delivery_status), class: "status-#{check_delivery(@order)} select-status", onchange: "change_delivery_status(#{@order.id})"%>
