

  <div class="container-fluid">

    <div class="page-toolbar">

      <div class="page-toolbar-block">
        <div class="page-toolbar-title"> Pre-orders List</div>
        <div class="page-toolbar-subtitle">Subtitle</div>
      </div>

      <ul class="breadcrumb">
        <li><a href="<%= admin_root_path %>">Dashboard</a></li>
        <li class="active">Pre-orders</li>
      </ul>

    </div>

    <div class="clearfix"></div>

    <div class="page-wrapper">
      <div class="container-fluid">

        <%= search_form_for @q, url: admin_orders_path do |f| %>
          <div class="col-sm-3">
            <%= f.select :category_title_cont, options_from_collection_for_select(Category.all, "title", "title"), {include_blank: "Select Category"},{class: "form-control"}%>
          </div>
          <div class="col-sm-3">
            <%= f.search_field :user_first_name_cont, placeholder: "User", class: "form-control"  %>
          </div>
          <div class="col-sm-3">
            <%=f.select :pre_order_status, [['Approved', 'Approved'], ['Pending', 'Pending'], ['Canceled', 'Canceled']], {include_blank: "Select Status"} ,class: "form-control"%>
          </div>
            <div class="col-sm-3 mb20">
              <%= link_to request.path, class: "btn btn-primary " do %>
                <i class="fas fa-filter"></i> Clear Filter
              <% end %>
              <%= f.button :submit, class: "btn btn-success ml10" do %>
                <i class='fas fa-search'></i> Search
              <% end %>
            </div>
        <% end %>


        <table class="table list">
          <thead>
            <tr>
              <th>Order Id</th>
              <th>Category</th>
              <th>User</th>
              <th>No of pallets</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <% @orders.each do |order| %>
              <tr>
                <td><%= link_to order.order_id, admin_order_path(order)%></td>
                <td><%= order.category.title.titleize %></td>
                <td><%= order.user.full_name %></td>
                <td><%= order.pallets %></td>
                <td class="">
                 <a class="<%=admin_status(order.admin_status)%>" href="javascript:void(0)"><%= order.admin_status %>
                </a>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= paginate @orders %>
      </div>
    </div>
  </div>
