<div class="container-fluid">
 <div class="page-toolbar">

  <div class="page-toolbar-block">
    <div class="page-toolbar-title"> Order Details</div>
    <div class="page-toolbar-subtitle">Subtitle</div>
  </div>

  <ul class="breadcrumb">
    <li><a href="<%= admin_root_path %>">Dashboard</a></li>
    <li class="active">Order</li>
  </ul>

</div>

<div class="col-sm-8 col-sm-offset-2 ">
  <h3 class="p-color d-inline">Order Details</h3>
  <%order = @order%>
  <div class="pull-right" id="delivery_<%=order.id%>" style="margin-top: 20px !important;">
    <%= select_tag "delivery_status", options_for_select([ "Delivered", "Undelivered" ], @order.delivery_status), class: "status-#{check_delivery(@order)} select-status", onchange: "change_delivery_status(#{@order.id})"%>
</div>
  <div class="users-view mt20 row">
    <div class="col-sm-6">
      <p> <b>Order Id</b> <span class="pull-right">: </span> </p>
    </div>
    <div class="col-sm-6">
      <p><%=@order.order_id%></p>
    </div>
    <div class="col-sm-6">
      <p> <b>Category</b> <span class="pull-right">: </span> </p>
    </div>
    <div class="col-sm-6">
      <p><%=@order.category.title.titleize%></p>
    </div>
    <% @order.option_values.includes(:option_type).with_deleted.each do |value| %>
     <div class="col-sm-6">
      <p> <b><%=value.option_type.name.titleize%></b> <span class="pull-right">: </span> </p>
      </div>
      <div class="col-sm-6">
        <p><%= value.name.titleize %></p>
      </div>
    <% end %>

    <div class="col-sm-6">
     <p> <b>pallet Quantity</b> <span class="pull-right">: </span> </p>
     </div>
     <div class="col-sm-6">
       <p><%= @order.total_quantity  %>&nbsp(<%= @order.pallets%> x <%=@order.quantity%>)</p>
     </div>
     <div class="col-sm-6">
       <p> <b>Amount</b> <span class="pull-right">: </span> </p>
     </div>
     <div class="col-sm-6">
       <p>$ <%=@order.price%></p>
     </div>

     <div class="col-sm-6">
       <p> <b>Transaction Id</b> <span class="pull-right">: </span> </p>
     </div>
     <div class="col-sm-6">
       <p><%=@order.transaction_id%></p>
     </div>

     <div class="col-sm-6">
       <p> <b>Purchased At</b> <span class="pull-right">: </span> </p>
     </div>
     <div class="col-sm-6">
       <p><%=@order.purchased_at.strftime('%c')%></p>
     </div>
  </div>

 <h3 class="p-color">User Details</h3>
  <div class="users-view mt20 row">
    <div class="col-sm-6">
      <p> <b>Name</b> <span class="pull-right">: </span> </p>
    </div>
    <div class="col-sm-6">
      <p><%=@order.user.full_name%></p>
    </div>

    <div class="col-sm-6">
      <p> <b>Email</b> <span class="pull-right">: </span> </p>
    </div>
    <div class="col-sm-6">
      <p><%=@order.user.email%></p>
    </div>

    <div class="col-sm-6">
      <p> <b>Company</b> <span class="pull-right">: </span> </p>
    </div>
    <div class="col-sm-6">
      <p><%=@order.user.company%></p>
    </div>

    <div class="col-sm-6">
      <p> <b>Phone</b> <span class="pull-right">: </span> </p>
    </div>
    <div class="col-sm-6">
      <p><%=@order.user.phone_no%></p>
    </div>

  </div>

  <h3 class="p-color">Seller Details</h3>
  <div class="users-view mt20 row">
    <div class="col-sm-6">
      <p> <b>Seller</b> <span class="pull-right">: </span> </p>
    </div>
    <div class="col-sm-6">
      <p><%=@order.seller.name.titleize%></p>
    </div>
    <div class="col-sm-6">
      <p> <b>Email</b> <span class="pull-right">: </span> </p>
    </div>
    <div class="col-sm-6">
      <p><%=@order.seller.email%></p>
    </div>
    <div class="col-sm-6">
     <p> <b>Phone</b> <span class="pull-right">: </span> </p>
     </div>
     <div class="col-sm-6">
       <p><%= @order.seller.phone_no %></p>
     </div>
     <div class="col-sm-6">
       <p> <b>Vat Number</b> <span class="pull-right">: </span> </p>
     </div>
     <div class="col-sm-6">
       <p><%= @order.seller.vat_no %></p>
     </div>
  </div>


 <h3 class="p-color">Shipping Address </h3>
  <div class="users-view mt20 row">
    <div class="col-sm-6">
      <p> <b>Name</b> <span class="pull-right">: </span> </p>
    </div>
    <div class="col-sm-6">
      <p><%=@shipping.name.titleize|| "Nil"%></p>
    </div>
    <div class="col-sm-6">
      <p> <b>Street/Number</b> <span class="pull-right">: </span> </p>
    </div>
    <div class="col-sm-6">
      <p><%=@shipping.address1.titleize%></p>
    </div>

    <div class="col-sm-6">
      <p> <b>Box</b> <span class="pull-right">: </span> </p>
    </div>
    <div class="col-sm-6">
      <p><%=@shipping.address2.titleize%></p>
    </div>

    <div class="col-sm-6">
      <p> <b>Locality/Town</b> <span class="pull-right">: </span> </p>
    </div>
    <div class="col-sm-6">
      <p><%=@shipping.city.titleize%></p>
    </div>

    <div class="col-sm-6">
      <p> <b>State</b> <span class="pull-right">: </span> </p>
    </div>
    <div class="col-sm-6">
      <p><%=@shipping.state.titleize%></p>
    </div>

    <div class="col-sm-6">
      <p> <b>Country</b> <span class="pull-right">: </span> </p>
    </div>
    <div class="col-sm-6">
      <p><%=@shipping.country.titleize%></p>
    </div>

    <div class="col-sm-6">
      <p> <b>Postal Code</b> <span class="pull-right">: </span> </p>
    </div>
    <div class="col-sm-6">
      <p><%=@shipping.zip%></p>
    </div>
    <div class="col-sm-6">
      <p> <b>Phone</b> <span class="pull-right">: </span> </p>
    </div>
    <div class="col-sm-6">
      <p><%=@shipping.phone_no|| "Nil"%></p>
    </div>

    <div class="col-sm-6">
      <p> <b>Delivery Date</b> <span class="pull-right">: </span> </p>
    </div>
    <div class="col-sm-6">
      <p></p>
    </div>
  </div>

  <h3 class="p-color">Billing Address </h3>
    <div class="users-view mt20 row">
      <div class="col-sm-6">
        <p> <b>Name</b> <span class="pull-right">: </span> </p>
      </div>
      <div class="col-sm-6">
        <p><%=@billing.name.titleize|| "Nil"%></p>
      </div>
       <div class="col-sm-6">
         <p> <b>Street/Number</b> <span class="pull-right">: </span> </p>
       </div>
       <div class="col-sm-6">
         <p><%=@billing.address1.titleize%></p>
       </div>

       <div class="col-sm-6">
         <p> <b>Box</b> <span class="pull-right">: </span> </p>
       </div>
       <div class="col-sm-6">
         <p><%=@billing.address2.titleize%></p>
       </div>

       <div class="col-sm-6">
         <p> <b>Locality/Town</b> <span class="pull-right">: </span> </p>
       </div>
       <div class="col-sm-6">
         <p><%=@billing.city.titleize%></p>
       </div>

       <div class="col-sm-6">
         <p> <b>State</b> <span class="pull-right">: </span> </p>
       </div>
       <div class="col-sm-6">
         <p><%=@billing.state.titleize%></p>
       </div>

       <div class="col-sm-6">
         <p> <b>Country</b> <span class="pull-right">: </span> </p>
       </div>
       <div class="col-sm-6">
         <p><%=@billing.country.titleize%></p>
       </div>

       <div class="col-sm-6">
         <p> <b>Postal Code</b> <span class="pull-right">: </span> </p>
       </div>
       <div class="col-sm-6">
         <p><%=@billing.zip%></p>
       </div>
       <div class="col-sm-6">
         <p> <b>Phone</b> <span class="pull-right">: </span> </p>
       </div>
       <div class="col-sm-6">
         <p><%=@billing.phone_no|| "Nil"%></p>
       </div>
    </div>
  </div>

</div>

</div>
