<div class="container-fluid">
 <div class="page-toolbar">

  <div class="page-toolbar-block">
    <div class="page-toolbar-title"> Pre-Order Details</div>
    <div class="page-toolbar-subtitle">Subtitle</div>
  </div>

  <ul class="breadcrumb">
    <li><a href="<%= admin_root_path %>">Dashboard</a></li>
    <li class="active">Order</li>
  </ul>

</div>

<div class="col-sm-8 col-sm-offset-2 ">
  <h3 class="p-color">Order Details</h3>
  <div class="users-view mt20 row">
    <div class="col-sm-6">
      <p> <b>Order Id</b> <span class="pull-right">: </span> </p>
    </div>
    <div class="col-sm-6">
      <p><%=@order.order_id%></p>
    </div>
    <div class="col-sm-6">
      <p> <b>Category</b> <span class="pull-right">: </span> </p>
    </div>
    <div class="col-sm-6">
      <p><%=@order.category.title.titleize%></p>
    </div>
    <% @order.option_values.includes(:option_type).with_deleted.each do |value| %>
     <div class="col-sm-6">
      <p> <b><%=value.option_type.name%></b> <span class="pull-right">: </span> </p>
      </div>
      <div class="col-sm-6">
        <p><%= value.name.titleize %></p>
      </div>
    <% end %>
    <div class="col-sm-6">
     <p> <b>Pallet Quantity</b> <span class="pull-right">: </span> </p>
     </div>
     <div class="col-sm-6">
       <p><%= @order.total_quantity  %>&nbsp(<%= @order.pallets%> x <%=@order.quantity%>)</p>
     </div>
  </div>

 <h3 class="p-color">User Details</h3>
  <div class="users-view mt20 row">
    <div class="col-sm-6">
      <p> <b>Name</b> <span class="pull-right">: </span> </p>
    </div>
    <div class="col-sm-6">
      <p><%=@order.user.full_name.titleize%></p>
    </div>

    <div class="col-sm-6">
      <p> <b>Email</b> <span class="pull-right">: </span> </p>
    </div>
    <div class="col-sm-6">
      <p><%=@order.user.email%></p>
    </div>

    <div class="col-sm-6">
      <p> <b>Company</b> <span class="pull-right">: </span> </p>
    </div>
    <div class="col-sm-6">
      <p><%=@order.user.company.titleize%></p>
    </div>

    <div class="col-sm-6">
      <p> <b>Phone</b> <span class="pull-right">: </span> </p>
    </div>
    <div class="col-sm-6">
      <p><%=@order.user.phone_no%></p>
    </div>

  </div>

  <h3 class="p-color">Seller Details</h3>
  <div class="users-view mt20 row">
    <div class="col-sm-6">
      <p> <b>Seller</b> <span class="pull-right">: </span> </p>
    </div>
    <div class="col-sm-6">
      <p><%=@order.seller.name.titleize%></p>
    </div>
    <div class="col-sm-6">
      <p> <b>Email</b> <span class="pull-right">: </span> </p>
    </div>
    <div class="col-sm-6">
      <p><%=@order.seller.email%></p>
    </div>
    <div class="col-sm-6">
     <p> <b>Phone</b> <span class="pull-right">: </span> </p>
     </div>
     <div class="col-sm-6">
       <p><%= @order.seller.phone_no %></p>
     </div>
     <div class="col-sm-6">
       <p> <b>Vat Number</b> <span class="pull-right">: </span> </p>
     </div>
     <div class="col-sm-6">
       <p><%= @order.seller.vat_no %></p>
     </div>
  </div>


 <h3 class="p-color">Shipping Address </h3>
  <div class="users-view mt20 row">
    <div class="col-sm-6">
      <p> <b>Name</b> <span class="pull-right">: </span> </p>
    </div>
    <div class="col-sm-6">
      <p><%=@shipping.name.titleize|| "Nil"%></p>
    </div>
    <div class="col-sm-6">
      <p> <b>Street/Number</b> <span class="pull-right">: </span> </p>
    </div>
    <div class="col-sm-6">
      <p><%=@shipping.address1.titleize%></p>
    </div>

    <div class="col-sm-6">
      <p> <b>Box</b> <span class="pull-right">: </span> </p>
    </div>
    <div class="col-sm-6">
      <p><%=@shipping.address2.titleize%></p>
    </div>

    <div class="col-sm-6">
      <p> <b>Locality/Town</b> <span class="pull-right">: </span> </p>
    </div>
    <div class="col-sm-6">
      <p><%=@shipping.city.titleize%></p>
    </div>

    <div class="col-sm-6">
      <p> <b>State</b> <span class="pull-right">: </span> </p>
    </div>
    <div class="col-sm-6">
      <p><%=@shipping.state.titleize%></p>
    </div>

    <div class="col-sm-6">
      <p> <b>Country</b> <span class="pull-right">: </span> </p>
    </div>
    <div class="col-sm-6">
      <p><%=@shipping.country.titleize%></p>
    </div>

    <div class="col-sm-6">
      <p> <b>Postal Code</b> <span class="pull-right">: </span> </p>
    </div>
    <div class="col-sm-6">
      <p><%=@shipping.zip%></p>
    </div>
    <div class="col-sm-6">
      <p> <b>Phone</b> <span class="pull-right">: </span> </p>
    </div>
    <div class="col-sm-6">
      <p><%=@shipping.phone_no|| "Nil"%></p>
    </div>
  </div>

  <h3 class="p-color">Billing Address </h3>
   <div class="users-view mt20 row">
    <div class="col-sm-6">
      <p> <b>Name</b> <span class="pull-right">: </span> </p>
    </div>
    <div class="col-sm-6">
      <p><%=@billing.name.titleize|| "Nil"%></p>
    </div>
     <div class="col-sm-6">
       <p> <b>Street/Number</b> <span class="pull-right">: </span> </p>
     </div>
     <div class="col-sm-6">
       <p><%=@billing.address1.titleize%></p>
     </div>

     <div class="col-sm-6">
       <p> <b>Box</b> <span class="pull-right">: </span> </p>
     </div>
     <div class="col-sm-6">
       <p><%=@billing.address2.titleize%></p>
     </div>

     <div class="col-sm-6">
       <p> <b>Locality/Town</b> <span class="pull-right">: </span> </p>
     </div>
     <div class="col-sm-6">
       <p><%=@billing.city.titleize%></p>
     </div>

     <div class="col-sm-6">
       <p> <b>State</b> <span class="pull-right">: </span> </p>
     </div>
     <div class="col-sm-6">
       <p><%=@billing.state.titleize%></p>
     </div>

     <div class="col-sm-6">
       <p> <b>Country</b> <span class="pull-right">: </span> </p>
     </div>
     <div class="col-sm-6">
       <p><%=@billing.country.titleize%></p>
     </div>

     <div class="col-sm-6">
       <p> <b>Postal Code</b> <span class="pull-right">: </span> </p>
     </div>
     <div class="col-sm-6">
       <p><%=@billing.zip%></p>
     </div>
     <div class="col-sm-6">
       <p> <b>Phone</b> <span class="pull-right">: </span> </p>
     </div>
     <div class="col-sm-6">
       <p><%=@billing.phone_no|| "Nil"%></p>
     </div>
   </div>


  <% if @order.approved? %>
  <h3 class="p-color">Fix Amount/Delivery </h3>
    <div class="users-view mt20 row">
      <div class="col-sm-6">
        <p class="mt20"> <b>Total Amount</b> <span class="pull-right">: </span> </p>
      </div>
      <div class="col-sm-6">
        <p><%= text_field_tag "total_price",@order.total_price, class: "form-control amount-input", placeholder: "Enter amount for one product", readonly: true , id: "total-price", required: true%></p>
      </div>
      <div class="col-sm-6">
        <p class="mt20"> <b> Fixed Amount</b> <span class="pull-right">: </span> </p>
      </div>
      <div class="col-sm-6">
        <p><%= text_field_tag "price",@order.price, class: "form-control amount-input", placeholder: "Enter amount for this order", max: "#total-price", readonly: true %></p>
      </div>
      <div class="clearfix"></div>
      <div class="col-sm-6">
        <p class="mt20"> <b>Delivery Delay</b> <span class="pull-right">: </span> </p>
      </div>
      <div class="col-sm-6">
        <p><%= text_field_tag "delay", @order.delay, class: "form-control amount-input", placeholder: "Enter delivery delay in days", digits: true, required: true, readonly: true%></p>
      </div>
    </div>

  <% elsif @order.canceled %>
  <h3 class="p-color">Fix Amount/Delivery/Status </h3>
    <div class="users-view mt20 row">
      <div class="col-sm-6">
        <p> <b> Status</b> <span class="pull-right">: </span> </p>
      </div>
      <div class="col-sm-6">
        <p>Cancelled</p>
      </div>
    </div>

  <% else %>
    <h3 class="p-color">Fix Amount/Delivery </h3>
    <div class="users-view mt20 row">
      <%= form_for @order, url: admin_order_path, method: :put, html: {id: "fix_price"} do |f| %>
        <%= render 'shared/errors', object: f.object %>
        <div class="col-sm-6">
          <p class="mt20"> <b>Price/Product</b> <span class="pull-right">: </span> </p>
        </div>
        <div class="col-sm-6">
          <p><%= text_field_tag "product_price","", class: "form-control amount-input", placeholder: "Enter amount for one product", id: "normal_price", required: true, number: true, min: 0.01 %></p>
        </div>
        <div class="col-sm-6">
          <p class="mt20"> <b>Total Amount</b> <span class="pull-right">: </span> </p>
        </div>
        <div class="col-sm-6">
          <p><%= f.text_field :total_price, class: "form-control amount-input", placeholder: "Enter Total Amount", readonly: true , id: "total-price", required: true%></p>
        </div>
        <div class="col-sm-6">
          <p class="mt20"> <b>Discount Price/Product</b> <span class="pull-right">: </span> </p>
        </div>
        <div class="col-sm-6">
          <p><%= text_field_tag "discount_price","", class: "form-control amount-input", placeholder: "Enter Discount Price", id: "discount_price", required: true %></p>
        </div>
        <div class="col-sm-6">
          <p class="mt20"> <b> Total Discount Price</b> <span class="pull-right">: </span> </p>
        </div>
        <div class="col-sm-6">
          <p><%= f.text_field :price, class: "form-control amount-input", placeholder: "Enter Total Discount Price", max: "#total-price", id: "total_discount_price", readonly: true %></p>
        </div>
        <div class="clearfix"></div>
        <div class="col-sm-6">
          <p class="mt20"> <b>Delivery Charge</b> <span class="pull-right">: </span> </p>
        </div>
        <div class="col-sm-6">
          <p><%= f.text_field :delivery_charge, class: "form-control amount-input", placeholder: "Enter Delivery Charge", id: "delivery_charge", required: true, number: true, value: "0"%></p>
        </div>
        <div class="col-sm-6">
          <p class="mt20"> <b>Total Price</b> <span class="pull-right">: </span> </p>
        </div>
        <div class="col-sm-6">
          <p><%= text_field_tag "product_price","", class: "form-control amount-input", placeholder: "Enter Total Price", id: "product_total_price", required: true, readonly: true, number: true, required: true %></p>
        </div>
        <div class="col-sm-6">
          <p class="mt20"> <b>Delivery Delay</b> <span class="pull-right">: </span> </p>
        </div>
        <div class="col-sm-6">
          <p><%= f.text_field :delay, class: "form-control amount-input", placeholder: "Enter delivery delay in days", digits: true, required: true %></p>
        </div>
        <div align="right">
          <%= link_to "Back", admin_orders_path, class: "btn  mt15 mr10" %>
          <%= link_to "Cancel Order", cancel_order_admin_order_path(@order), class: "btn btn-default mt15 mr10" %>
          <button class="btn btn-primary mt15">Approve</button>
      <% end %>
    </div>
  <% end %>
</div>
</div>

</div>

</div>
<script>
  $(document).ready(function(){
    $("#fix_price").validate({
      rules: {
        "order[price]": {
          required: true,
          pattern: /^\d{0,8}(\.\d{1,4})?$/,
          max: function(){ return parseInt($("#total-price").val());}
        }
      }
    });

    $('#normal_price').keyup(function() {
        var dInput = this.value;
        $("#total-price").val(dInput*<%=@order.quantity * @order.pallets%>);
    });
    $('#discount_price').keyup(function() {
        var dInput = this.value;
        $("#total_discount_price").val(dInput*<%=@order.quantity * @order.pallets%>);
    });

    $('#delivery_charge, #discount_price').keyup(function() {
        var second = $("#delivery_charge").val();
        var first = $("#total_discount_price").val();
        var result = parseFloat(second) + parseFloat(first);
        if (!isNaN(result)) {
          $("#product_total_price").val(result);
        }
    });
  });
</script>
