<% if user_signed_in? %>
  <div class="container">
    <div class="row m0 mt30">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="Request-box">
          <div class="icon-wrap">
            <i class="fas fa-bell"></i>
          </div>
          <div class="col-sm-6">
            <h3 class="mt10 mb10">NOTIFICATION</h3>
            <h4 class="d-inline-block"> <i class="fas fa-envelope mr10"></i> Name</h4>  <i class="fas fa-long-arrow-alt-right ml10 font-size20"></i>
          </div>
          <div class="pull-right">
            <button class="btn "> <img src="/assets/pencil.png" width="40px" ></button>
            <button class="btn "> <img src="/assets/pencil.png" width="40px" ></button>
          </div>
        </div>
        <div class="Request-box">
          <div class="icon-wrap">
            <i class="fas fa-bell"></i>
          </div>
          <div class="col-sm-6">
            <h3 class="mt10 mb10">NOTIFICATION</h3>
            <h4 class="d-inline-block"> <i class="fas fa-envelope mr10"></i> Name</h4>  <i class="fas fa-long-arrow-alt-right ml10 font-size20"></i>
          </div>
          <div class="pull-right">
            <button class="btn "> <img src="/assets/pencil.png" width="40px" ></button>
            <button class="btn "> <img src="/assets/pencil.png" width="40px" ></button>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

