
<div class="page-content">
  <div class="container">
    <div class="row m0 ml20">
      <div class="user-deatails mt30 mb30">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <h3 class="ml20 mb20">Edit Address</h3>
            <div class="row m0">
              <%= form_for(@address, url: update_address_user_path(id: @address.id), method: :patch, html: {id: "edit-address"}) do |f| %>
              <%= render 'shared/errors', object: f.object %>
                <div class="personal-fields">

                  <div class="form-group col-sm-6">
                    <%= f.text_field :name, class: "form-control", placeholder: "Enter Name ", required: true,  "data-msg-required": "Please enter name", maxlength: 40 %>
                  </div>

                  <div class="form-group col-sm-6">
                    <%= f.text_field :address1, class: "form-control", placeholder: "Street/Number", id: "address1", required: true,  "data-msg-required": "Please enter street/number", maxlength: 40 %>
                  </div>

                  <div class="form-group col-sm-6">
                    <%= f.text_field :address2, class: "form-control", placeholder: "Box details", id: "address2", required: true,  "data-msg-required": "Please enter box details", maxlength: 40 %>
                  </div>

                  <div class="form-group col-sm-6">
                    <%= f.select :country, CS.countries.values, { prompt: "Select Country" },{class: "form-control", placeholder: "Select Country", required: true, id: "select_country", "data-msg-required": "Please select country"}  %>
                  </div>

                  <div class="form-group col-sm-6">
                    <%= f.select :state , CS.states(@country).values ,{ include_blank: "Select State" }, {class: "form-control", required: true, id: "select_state"} %>
                  </div>

                  <div class="form-group col-sm-6">
                    <%= f.text_field :city, class: "form-control", placeholder: "Locality/Town", required: true, "data-msg-required": "Please enter locality/town", maxlength: 30 %>
                  </div>

                  <div class="form-group col-sm-6">
                    <%= f.text_field :zip, class: "form-control", placeholder: "Postal Code", required: true, "pattern": "[0-9\-\(\)\s]+.", "data-msg-required": "Please enter postal code", maxlength: 30 %>
                  </div>

                  <div class="form-group col-sm-6">
                    <%= f.text_field :phone_no, class: "form-control", placeholder: "Phone Number", required: true,  "data-msg-required": "Please enter phone number", "pattern": "[0-9\-\(\)\s]+.", maxlength: 40 %>
                  </div>

                  <div class="clearfix"></div>
                </div>

                <div class="clearfix"></div>

              <div align="right" class="col-sm-12 mt20">
                 <%= link_to "Cancel", edit_user_path, class: "btn btn-default mr10 "%>
                <%= f.submit "Save", class: "btn btn-primary btn-common" %>
              </div>

              <% end %>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
$("#select_country").on('change', function() {
  var country = $(this).val();
  $.ajax({
    url: "/admin/sellers/states",
    type: "GET",
    data: {country: country}
  });
});
</script>
<script>
  $(document).ready(function(){
    $("#edit-address").validate();
  });
</script>
