
<div class="page-content">
  <div class="container">
    <div class="row m0 ml20">
      <div class="user-deatails mt30 mb30">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <h3 class="ml20 mb20">Personal Information <span class="ml10"><a href="#" class="personal-btn">Edit</a></span> <%= link_to "Change Password", edit_user_registration_path, class: "btn btn-primary pull-right mr20" %></h3>
            <div class="row m0">
              <%= form_for(@user, html: {id: "edit-user"}) do |f| %>
              <%= render 'shared/errors', object: f.object %>
                <div class="personal-fields">
                  <div class="form-group col-sm-6">
                    <%= f.text_field :first_name, class: "form-control", placeholder: "First Name", id: "first_name", required: true,  "data-msg-required": "Please enter first name", maxlength: 40 %>
                  </div>

                  <div class="form-group col-sm-6">
                    <%= f.text_field :last_name, class: "form-control", placeholder: "Last Name", id: "last_name", required: true,  "data-msg-required": "Please enter last name", maxlength: 40 %>
                  </div>

                  <div class="form-group col-sm-12">
                    <%= f.text_field :company, class: "form-control", placeholder: "Company Name", required: true, "data-msg-required": "Please enter company name", maxlength: 40 %>
                  </div>

                  <div class="form-group col-sm-2">
                    <%= f.select :vat_code, options_for_select(User::VAT_COUNTRIES.sort, f.object.vat_code), {prompt: ""}, {class: "form-control", required: true}%>
                  </div>

                  <div class="form-group col-sm-5">
                    <%= f.text_field :vat_no, class: "form-control", placeholder: "Vat Number", required: true, "data-msg-required": "Please enter vat number", maxlength: 40 %>
                  </div>

                  <div class="form-group col-sm-5">
                    <%= f.text_field :phone_no, class: "form-control", placeholder: "Phone Number", required: true, "pattern": "[0-9\-\(\)\s]+.", "data-msg-required": "Please enter phone number", maxlength: 30 %>
                  </div>

                  <div class="clearfix"></div>
                  <div class="col-sm-12">
                   <!-- image-preview-filename input [CUT FROM HERE]-->
                    <div class="input-group image-preview">
                      <input type="text" class="form-control image-preview-filename" disabled="disabled"> <!-- don't give a name === doesn't send on POST/GET -->
                      <span class="input-group-btn">
                      <!-- image-preview-clear button -->
                        <button type="button" class="btn btn-default image-preview-clear" style="display:none;">
                        <span class="glyphicon glyphicon-remove"></span> Clear
                        </button>
                      <!-- image-preview-input -->
                        <div class="btn btn-default image-preview-input">
                          <span class="glyphicon glyphicon-folder-open"></span>
                          <span class="image-preview-input-title">Browse</span>
                          <%= f.file_field :image, accept: 'image/png,image/jpeg,image/jpg', placeholder:"wdqwqwf2eqf", disabled: true, id: "user-image"%>
                        </div>
                      </span>
                    </div>
                    <label id="user_image-error" class="error" for="user_image" style="display: none;">Image is required</label><!-- /input-group image-preview [TO HERE]-->
                  </div>
                </div>

                <div class="clearfix"></div>

              <div align="right" class="col-sm-12 mt20">
                 <%= link_to "Cancel", request.path, class: "btn btn-default mr10 cancel-btn", style: "display: none;" %>
                <%= f.submit "Save", class: "btn btn-primary btn-common submit-btn", style: "display: none;" %>
              </div>

              <% end %>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row m0 ml20">
      <div class="user-deatails mt30 mb30">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <h3 class="ml20 mb20">Manage Address <%= link_to 'New Address', new_address_user_path, class: "btn btn-primary  pull-right"%></h3>
            <%@user.addresses.each do |address| %>
              <div class="row m0 address-box">
                <b><%= address.full_address %></b><%= link_to '<i class="fas fa-pencil-alt"></i>'.html_safe, edit_address_user_path(id: address.id), class: "pull-right m5" %>&nbsp;
                <% if address != @user.default_address %>
                  <%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, delete_address_user_path(id: address.id), data: {confirm: "Are you sure?"}, class: "pull-right m5" %>&nbsp;
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>

  $("#select_country").on('click', function() {
      var country = $(this).val();
      $.ajax({
        url: "/admin/sellers/states",
        type: "GET",
        data: {country: country}
      });
    });

  $(document).ready(function(){
    $("#edit-user").validate();
    $(".personal-fields :input").attr("readonly", true);
    $(".address-fields :input").attr("readonly", true);
    $("#select_country").attr("disabled", true);
    $("#select_state").attr("disabled", true);
    $("#user_vat_code").attr("disabled", true);
    $(".personal-btn").on('click', function(e) {
      $(".personal-fields :input").attr("readonly", false);
      $("#user-image").attr("disabled", false);
      $("#user_vat_code").attr("disabled", false);
      $(".personal-btn").css("display", "none")
      $(".cancel-btn, .submit-btn").show();
      e.preventDefault();
    });
    $(".address-btn").on('click', function(e) {
      $(".address-fields :input").attr("readonly", false);
      $(".address-btn").css("display", "none")
      $("#select_country").attr("disabled", false);
      $("#select_state").attr("disabled", false);
      $(".cancel-btn, .submit-btn").show();
      e.preventDefault();
    });
    $(".submit-btn").on('click', function(e) {
      $("#select_country").attr("disabled", false);
      $("#select_state").attr("disabled", false);
    });
  });
</script>
<script>
$(document).on('click', '#close-preview', function(){
  $('.image-preview').popover('hide');
  // Hover befor close the preview
  $('.image-preview').hover(
    function () {
     $('.image-preview').popover('show');
   },
   function () {
     $('.image-preview').popover('hide');
   }
   );
});

$(function() {
  // Create the close button
  var closebtn = $('<button/>', {
    type:"button",
    text: 'x',
    id: 'close-preview',
    style: 'font-size: initial;',
  });
  closebtn.attr("class","close ");
  // Set the popover default content
  $('.image-preview').popover({
    trigger:'manual',
    html:true,
    title: "<strong>Preview</strong>"+$(closebtn)[0].outerHTML,
    content: "There's no image",
    placement:'bottom'
  });
  // Clear event
  $('.image-preview-clear').click(function(){
    $('.image-preview').attr("data-content","").popover('hide');
    $('.image-preview-filename').val("");
    $('.image-preview-clear').hide();
    $('.image-preview-input input:file').val("");
    $(".image-preview-input-title").text("Browse");
  });
  // Create the preview image
  $(".image-preview-input input:file").change(function (){
  var img = $('<img/>', {
    id: 'dynamic',
    width:250,
    height:200
  });
  var file = this.files[0];
  var reader = new FileReader();
    // Set preview image into the popover data-content
    reader.onload = function (e) {
      $(".image-preview-input-title").text("Change");
      $(".image-preview-clear").show();
      $(".image-preview-filename").val(file.name);
      img.attr('src', e.target.result);
      $(".image-preview").attr("data-content",$(img)[0].outerHTML).popover("show");
    }
    reader.readAsDataURL(file);
  });
});


</script>
