          <h1>Users#show</h1>
          <p>Find me in app/views/users/show.html.erb</p>
          <%= link_to "Edit", edit_user_path, class: "btn btn-primary" %>
          <%= link_to "Change Password", edit_user_registration_path, class: "btn btn-primary" %>
          <h3>Cancel my account</h3>

          <p>Unhappy? <%= button_to "Cancel my account", registration_path(current_user), data: { confirm: "Are you sure?" }, method: :delete %></p>

          <%= link_to "Back", :back %>

        <script type="text/javascript">

        $(document).on('click', '#close-preview', function(){
          $('.image-preview').popover('hide');
              // Hover befor close the preview
              $('.image-preview').hover(
                function () {
                 $('.image-preview').popover('show');
               },
               function () {
                 $('.image-preview').popover('hide');
               }
               );
            });

        $(function() {
              // Create the close button
              var closebtn = $('<button/>', {
                type:"button",
                text: 'x',
                id: 'close-preview',
                style: 'font-size: initial;',
              });
              closebtn.attr("class","close pull-right");
              // Set the popover default content
              $('.image-preview').popover({
                trigger:'manual',
                html:true,
                title: "<strong>Preview</strong>"+$(closebtn)[0].outerHTML,
                content: "There's no image",
                placement:'bottom'
              });
              // Clear event
              $('.image-preview-clear').click(function(){
                $('.image-preview').attr("data-content","").popover('hide');
                $('.image-preview-filename').val("");
                $('.image-preview-clear').hide();
                $('.image-preview-input input:file').val("");
                $(".image-preview-input-title").text("Browse");
              });
              // Create the preview image
              $(".image-preview-input input:file").change(function (){
                var img = $('<img/>', {
                  id: 'dynamic',
                  width:250,
                  height:200
                });
                var file = this.files[0];
                var reader = new FileReader();
                  // Set preview image into the popover data-content
                  reader.onload = function (e) {
                    $(".image-preview-input-title").text("Change");
                    $(".image-preview-clear").show();
                    $(".image-preview-filename").val(file.name);
                    img.attr('src', e.target.result);
                    $(".image-preview").attr("data-content",$(img)[0].outerHTML).popover("show");
                  }
                  reader.readAsDataURL(file);
                });
            });


          </script>
