
  <div class="container-fluid">
    <div class="page-toolbar">
      <div class="page-toolbar-block">
        <div class="page-toolbar-title">Edit Seller</div>
        <div class="page-toolbar-subtitle"></div>
      </div>

      <ul class="breadcrumb">
        <li><a href="<%=admin_root_path %>">Dashboard</a></li>
        <li class="active">Edit Seller</li>
      </ul>
    </div>

    <div class="clearfix"></div>

    <div class="page-wrapper">
      <div class="container-fluid">
        <div class="page-bg">
          <div class="row m0">
            <div class="col-sm-6 col-sm-offset-3">
              <%= form_for @seller, url: admin_seller_path, method: :put, html: {id: "edit_seller"} do |f| %>
              <%= render 'shared/errors', object: @seller %>
                <div class="form-group">
                  <label>Company Name:</label>
                  <%= f.text_field :name, class: "form-control", placeholder: "Company Name", required: true, "data-msg-required": "Please enter company name", maxlength: 50%>
                </div>

                <div class="form-group">
                  <label>Email:</label>
                  <%= f.text_field :email, class: "form-control", placeholder: "Email", id: "email"%>
                </div>

                <div class="form-group">
                  <label>Phone Number:</label>
                  <%= f.text_field :phone_no, class: "form-control", placeholder: "Phone Number", required: true, "pattern": "[0-9\-\(\)\s]+.", maxlength: 20%>
                </div>

                <div class="form-group">
                  <label>VAT Number:</label>
                  <%= f.text_field :vat_no, class: "form-control", placeholder: "VAT Number", required: true, maxlength: 30 %>
                </div>

                <%= f.fields_for :address do |a| %>
                  <div class="form-group">
                    <label>Address 1:</label>
                    <%= a.text_field :address1, class: "form-control", placeholder: "Enter address 1", required: true %>
                  </div>

                  <div class="form-group">
                    <label>Address 2:</label>
                    <%= a.text_field :address2, class: "form-control", placeholder: "Enter address 1", required: true %>
                  </div>

                  <div class="form-group">
                    <label>Country:</label>
                    <%= a.select :country, CS.countries.values, {prompt: "Select Country" },{class: "form-control", placeholder: "Select Country", required: true, id: "select_country"}  %>
                  </div>

                  <div class="form-group">
                    <label>State:</label>
                    <%= a.select :state , CS.states(@country).values, {include_blank: "Select State" }, {class: "form-control", required: true, id: "select_state"} %>
                  </div>

                  <div class="form-group">
                    <label>City:</label>
                    <%= a.text_field :city, class: "form-control", placeholder: "Enter City", required: true %>
                  </div>

                  <div class="form-group">
                    <label>Zip Code:</label>
                    <%= a.text_field :zip, class: "form-control", placeholder: "Enter Zip Code", required: true %>
                  </div>

                <% end %>

                <div class="form-group">
                  <label>Categories:</label>
                  <%= f.collection_select :category_ids, Category.all, :id, :title, {}, {class: "form-control selectpicker", multiple: true, required: true, "data-msg-required": "Please select sellers"} %>
                </div>

                <div class="form-group">
                  <label>Logo:</label>
                  <%= f.file_field :logo, class: "form-control", accept: "image/png, image/jpg, image/jpeg" %>
                </div>

                <div align="right">
                  <%= link_to "CANCEL", admin_sellers_path, class: "btn btn-default" %>
                  <%= f.submit "SAVE", class: "btn btn-primary" %>
                </div>

              <% end %>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<script>
  $("#edit_seller").validate({
    rules: {
      "seller[email]": {
        required: true,
        email: true,
        pattern: /^\b[A-Z0-9._%-]+@[A-Z0-9.-]+\.[A-Z]{2,4}\b$/i
      }
    },
    messages: {
      "seller[email]":{
          required: "Email required",
          pattern: "Please enter a valid email address."
      }
    }
  });
  $("#select_country").on('click', function() {
    var country = $(this).val();
    $.ajax({
      url: "/admin/sellers/states",
      type: "GET",
      data: {country: country}
    });
  })

  $(".selectpicker").on('hidden.bs.select', function() {
    var ids = $('.selectpicker').val();
    $.ajax({
      url: "/admin/sellers/load_size_values",
      type: 'GET',
      data: {ids: ids }
    });
  });
</script>
