

  <div class="container-fluid">

    <div class="page-toolbar">

      <div class="page-toolbar-block">
        <div class="page-toolbar-title"> Seller List</div>
        <div class="page-toolbar-subtitle">Subtitle</div>
      </div>

      <ul class="breadcrumb">
        <li><a href="<%= admin_root_path %>">Dashboard</a></li>
        <li class="active">Sellers</li>
      </ul>

    </div>

    <div class="clearfix"></div>

    <div class="page-wrapper">
      <div class="container-fluid">


        <table class="table list">
          <thead>
            <tr>
              <th>Logo</th>
              <th>Company</th>
              <th>Email</th>
              <th>Phone</th>
              <th>VAT Number</th>
              <th>Country</th>
            </tr>
          </thead>
          <tbody>
            <% @sellers.each do |seller| %>
              <tr>
                <td><%= image_tag(seller.logo.url, class: "img-rounded", width: 40, height: 40)%></td>
                <td><%= link_to seller.name, admin_seller_path(seller)%></td>
                <td><%= seller.email%></td>
                <td><%= seller.phone_no%></td>
                <td><%= seller.vat_no%></td>
                <td><%= seller.address.country%></td>
                <td><span><%= link_to '<i class="fa fa-pencil-square-o fa-lg"></i>'.html_safe, edit_admin_seller_path(seller) %>&nbsp;
                  <%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, admin_seller_path(seller), method: :delete, data: {confirm: "Are you sure?"}%></span>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= paginate @sellers %>
      </div>
    </div>
  </div>
