<div class="container-fluid">
 <div class="page-toolbar">

  <div class="page-toolbar-block">
    <div class="page-toolbar-title"> Seller Details</div>
    <div class="page-toolbar-subtitle">Subtitle</div>
  </div>

  <ul class="breadcrumb">
    <li><a href="<%= admin_root_path %>">Dashboard</a></li>
    <li class="active">Seller</li>
  </ul>

</div>

<div class="col-sm-8 col-sm-offset-2 ">
  <h3 class="p-color">Seller Details</h3>
  <div class="users-view mt20 row">
    <div class="col-sm-6">
      <p> <b>Seller</b> <span class="pull-right">: </span> </p>
    </div>
    <div class="col-sm-6">
      <p><%=@seller.name.titleize%></p>
    </div>
    <div class="col-sm-6">
      <p> <b>Categories</b> <span class="pull-right">: </span> </p>
    </div>
    <div class="col-sm-6">
      <p><%=@seller.category_names%></p>
    </div>
    <div class="col-sm-6">
      <p> <b>Phone Number</b> <span class="pull-right">: </span> </p>
    </div>
    <div class="col-sm-6">
      <p><%= @seller.phone_no %></p>
    </div>
    <div class="col-sm-6">
      <p> <b>Vat Number</b> <span class="pull-right">: </span> </p>
    </div>
    <div class="col-sm-6">
      <p><%= @seller.vat_no %></p>
    </div>
    <div class="col-sm-6">
      <p> <b>Email</b> <span class="pull-right">: </span> </p>
    </div>
    <div class="col-sm-6">
      <p><%= @seller.email %></p>
    </div>
    <div class="col-sm-6">
      <p> <b>Address</b> <span class="pull-right">: </span> </p>
    </div>
    <div class="col-sm-6">
      <p><%= @seller.address.full_address %></p>
    </div>
  </div>

  <h3 class="p-color d-inline">Pallet Details</h3>
  <% if @pallets.present?%>
    <a id="edit-pallet" href="javascript:void();"> &nbsp; Edit</a>
  <% end %>
  <div class="users-view mt20 row">
    <table class="table list">
      <thead>
        <tr>
          <th>Category</th>
          <th>Size</th>
          <th>Pallet Size</th>
        </tr>
      </thead>
      <tbody>
        <%= form_for :pallet, :url => admin_pallet_path(@seller.id), :html => {id: "pallet_form", :method => :put} do %>
          <% @pallets.each do |pallet| %>
            <%= fields_for "pallet[]", pallet do |pallet_fields| %>
              <tr>
                <td><%=pallet.category.title.titleize%></td>
                <td><%=pallet.option_value.name.titleize%></td>
                <td class="col-sm-4"><%= pallet_fields.number_field :pallet_size, class: "form-control field", required: true, digits: true %></td>
              </tr>
            <% end %>
          <% end %>
      </tbody>
    </table>
    <div class="actions ">
      <button type="button" class="btn btn-default" id="cancel-pallet" style="display: none;">Cancel</button>
      <%= submit_tag("Save",class: "btn btn-primary", id: "submit", style: "display: none;")%>
    </div>
    <% end %>
  </div>
</div>

<script>
  $("#submit").click(function(e){
    $("label.error").hide();
    $(".error").removeClass("error");
    if ($(".field").valid()){
      return true
    } else{
      return false
    }
  });

  $(document).ready(function(){
      /*Disable all input type="text" box*/
      $('input[type="number"]').prop("readonly", true);
      /*Disable textarea using id */
    });

  $("#edit-pallet").click(function(e){
    $('input[type="number"]').prop("readonly", false);
    $("#submit").show();
    $("#cancel-pallet").show();
  });

  $("#cancel-pallet").click(function(e){
    $('input[type="number"]').prop("readonly", true);
    $("#submit").hide();
    $("#cancel-pallet").hide();
  });
</script>
