<div class="owl-carousel owl-theme">
  <% sellers.each do |seller| %>
    <div class="item">
      <div class="com-box">
        <%= image_tag (seller.logo.url) %>
        <div class="divide">
          <h4><b><%= seller.name.titleize %></b></h4>
          <p><%= seller.email%></p>
        </div>
        <% category.option_types.each do |type| %>
          <div class="divide">
            <h4><b><%=type.presentation.titleize %></b></h4>
            <p><%= type.joined_values %></p>
          </div>
        <% end %>
        <div class="divide">
          <%= link_to "Ask request", ask_with_comparator_orders_path(category_id: category.id, seller_id: seller.id), class: "btn-main btn" %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<script>
  $(document).ready(function () {
    $('.owl-carousel').owlCarousel({
      loop:true,
      margin:15,
      responsiveClass:true,
      navigation:true,
      autoplay:true,
      responsive:{
        0:{
          items:1,
          nav:true
        },
        600:{
          items:3,
          nav:false
        },
        1000:{
          items:5,
          nav:true,
          loop:true
        }
      }
    })
  });
</script>
