
<div class="compat">
  <% if @sellers.present? %>
    <div class="container">
      <%= select_tag "category", options_from_collection_for_select(@categories, 'id', "title_to_upper"), class: "form-control", onchange: "get_sellers(value)"%>
      <div id= "comparator_page">
        <%= render partial: 'seller_comparator',locals: {category: @category, sellers: @sellers} %>
      </div>
    </div>
  <% else %>
    <h3>Nothing to show</h3>
  <% end %>
</div>

