<div class="contact-us">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h2>We are eager to discuss your business needs, and  answer any questions you may have. Enter your details and we'll get back to you shortly. </h2>
        <%= form_for @message, url: home_send_message_path, method: :post, html: {id: "new_contact_message"} do |f| %>
        <%= render 'shared/errors', object: @message %>

        <div class="form-group">
          <%= f.text_field :name, class: "form-control" , placeholder: "Name", required: true,"data-msg-required": "Name Required" %>
        </div>

        <div class="form-group">
          <%= f.email_field :email, class: "form-control", placeholder: "Email", required: true, email: true, "data-msg-required": "Email Required"%>
        </div>

        <div class="form-group">
          <%= f.text_area :body, rows: 15, class: "form-control", placeholder: "Message..", required: true, "data-msg-required": "Message Required" %>
        </div>

        <%= f.submit "Send", class: "btn btn-main"%>
        <% end %>
      </div>


      <div class="col-sm-6">
        <div class="mt80">
          <h3> <img src="/assets/place.png"> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
          <h3> <img src="/assets/phone.png"> +12 12345 123456</h3>
          <h3> <img src="/assets/email2.png"> sample@sample.com</h3>

          <ul>
            <li><i class="fab fa-facebook-f"></i></li>
            <li><i class="fab fa-pinterest-p"></i></li>
            <li><i class="fab fa-twitter"></i></li>
            <li><i class="fab fa-youtube"></i></li>
            <li><i class="fab fa-linkedin-in"></i></li>
            <li><i class="fab fa-vimeo-v"></i></li>
            <li><i class="fab fa-google-plus-g"></i></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $("#new_contact_message").validate();
</script>
