<div class="privacy">
  <div class="container">
    <h2>FAQ</h2>


   <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vitae eros vulputate, efficitur elit ut, cursus metus?</h3>

   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vitae eros vulputate, efficitur elit ut, cursus metus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus ante nibh, efficitur viverra enim eu, aliquet facilisis dolor. Nullam fringilla semper diam id iaculis. Curabitur at faucibus ex, sit amet facilisis odio. Praesent vel hendrerit risus. Vestibulum viverra a augue et congue. Curabitur sit amet ipsum venenatis, condimentum est eget, placerat nibh.</p>


   <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vitae eros vulputate, efficitur elit ut, cursus metus?</h3>

   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vitae eros vulputate, efficitur elit ut, cursus metus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus ante nibh, efficitur viverra enim eu, aliquet facilisis dolor. Nullam fringilla semper diam id iaculis. Curabitur at faucibus ex, sit amet facilisis odio. Praesent vel hendrerit risus. Vestibulum viverra a augue et congue. Curabitur sit amet ipsum venenatis, condimentum est eget, placerat nibh.</p>


 <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vitae eros vulputate, efficitur elit ut, cursus metus?</h3>

   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vitae eros vulputate, efficitur elit ut, cursus metus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus ante nibh, efficitur viverra enim eu, aliquet facilisis dolor. Nullam fringilla semper diam id iaculis. Curabitur at faucibus ex, sit amet facilisis odio. Praesent vel hendrerit risus. Vestibulum viverra a augue et congue. Curabitur sit amet ipsum venenatis, condimentum est eget, placerat nibh.</p>

    <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vitae eros vulputate, efficitur elit ut, cursus metus?</h3>

   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vitae eros vulputate, efficitur elit ut, cursus metus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus ante nibh, efficitur viverra enim eu, aliquet facilisis dolor. Nullam fringilla semper diam id iaculis. Curabitur at faucibus ex, sit amet facilisis odio. Praesent vel hendrerit risus. Vestibulum viverra a augue et congue. Curabitur sit amet ipsum venenatis, condimentum est eget, placerat nibh.</p>

    <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vitae eros vulputate, efficitur elit ut, cursus metus?</h3>

   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vitae eros vulputate, efficitur elit ut, cursus metus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus ante nibh, efficitur viverra enim eu, aliquet facilisis dolor. Nullam fringilla semper diam id iaculis. Curabitur at faucibus ex, sit amet facilisis odio. Praesent vel hendrerit risus. Vestibulum viverra a augue et congue. Curabitur sit amet ipsum venenatis, condimentum est eget, placerat nibh.</p>

  </div>
</div>
