<div class="home-wrap">
  <img src="/assets/home-banner.png" width="100%">
  <div class="container">
    <div class="row" style="margin-top: 3em; margin-bottom:3em; ">

      <div class="col-sm-3">
        <div class="home-box">
          <img class="bx-img" src="assets/tp-box-logo.png" width="85%">

           <img class="home-pro mt20" src="/assets/sample.png" width="100%">
           <%= link_to "ASK REQUEST", select_category_orders_path, class: "btn btn-block btn-re-box" %>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="home-box">
          <img class="bx-img" src="assets/tp-box-logo.png" width="85%">

           <img class="home-pro mt20" src="/assets/sample.png" width="100%">
           <%= link_to "ASK REQUEST", select_category_orders_path, class: "btn btn-block btn-re-box" %>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="home-box">
          <img class="bx-img" src="assets/tp-box-logo.png" width="85%">

           <img class="home-pro mt20" src="/assets/sample.png" width="100%">
           <%= link_to "ASK REQUEST", select_category_orders_path, class: "btn btn-block btn-re-box" %>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="home-box">
          <img class="bx-img" src="assets/tp-box-logo.png" width="85%">

           <img class="home-pro mt20" src="/assets/sample.png" width="100%">
           <%= link_to "ASK REQUEST", select_category_orders_path, class: "btn btn-block btn-re-box" %>
        </div>
      </div>

    </div>
  </div>
</div>
