<div class="privacy">
  <div class="container">
    <h2>PRIVACY-LEGAL-TERMS & CONDITIONS</h2>


   <h3>PRIVACY</h3>

   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vitae eros vulputate, efficitur elit ut, cursus metus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus ante nibh, efficitur viverra enim eu, aliquet facilisis dolor. Nullam fringilla semper diam id iaculis. Curabitur at faucibus ex, sit amet facilisis odio. Praesent vel hendrerit risus. Vestibulum viverra a augue et congue. Curabitur sit amet ipsum venenatis, condimentum est eget, placerat nibh. Suspendisse potenti. Quisque gravida malesuada velit vitae elementum. Donec non consectetur est, id porttitor lorem. Morbi et mi nunc. Mauris sit amet est eu est dignissim molestie nec at enim.

Mauris sem turpis, aliquam a egestas vel, semper auctor dui. Duis non urna ut metus elementum porta. Vestibulum in porta enim. Cras tincidunt libero justo, sit amet pellentesque augue pharetra ac. Vivamus libero nisl, hendrerit vitae quam sed, dignissim bibendum magna. Ut magna leo, tempor eu velit eu, faucibus mattis metus. Aenean eget dui vel dolor faucibus rhoncus. Etiam vel nisi sit amet nisi varius scelerisque. Vestibulum sed arcu ligula. Fusce sed iaculis sem. Vestibulum et posuere mi. Sed mollis tincidunt tortor, non porta nunc facilisis vel. Mauris gravida eros vitae vestibulum imperdiet. Pellentesque vel condimentum mauris, id elementum tortor. Proin vitae nibh metus.</p>


   <h3>LEGAL</h3>

   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vitae eros vulputate, efficitur elit ut, cursus metus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus ante nibh, efficitur viverra enim eu, aliquet facilisis dolor. Nullam fringilla semper diam id iaculis. Curabitur at faucibus ex, sit amet facilisis odio. Praesent vel hendrerit risus. Vestibulum viverra a augue et congue. Curabitur sit amet ipsum venenatis, condimentum est eget, placerat nibh. Suspendisse potenti. Quisque gravida malesuada velit vitae elementum. Donec non consectetur est, id porttitor lorem. Morbi et mi nunc. Mauris sit amet est eu est dignissim molestie nec at enim.

Mauris sem turpis, aliquam a egestas vel, semper auctor dui. Duis non urna ut metus elementum porta. Vestibulum in porta enim. Cras tincidunt libero justo, sit amet pellentesque augue pharetra ac. Vivamus libero nisl, hendrerit vitae quam sed, dignissim bibendum magna. Ut magna leo, tempor eu velit eu, faucibus mattis metus. Aenean eget dui vel dolor faucibus rhoncus. Etiam vel nisi sit amet nisi varius scelerisque. Vestibulum sed arcu ligula. Fusce sed iaculis sem. Vestibulum et posuere mi. Sed mollis tincidunt tortor, non porta nunc facilisis vel. Mauris gravida eros vitae vestibulum imperdiet. Pellentesque vel condimentum mauris, id elementum tortor. Proin vitae nibh metus.</p>


 <h3>TERMS & CONDITIONS</h3>

   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vitae eros vulputate, efficitur elit ut, cursus metus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus ante nibh, efficitur viverra enim eu, aliquet facilisis dolor. Nullam fringilla semper diam id iaculis. Curabitur at faucibus ex, sit amet facilisis odio. Praesent vel hendrerit risus. Vestibulum viverra a augue et congue. Curabitur sit amet ipsum venenatis, condimentum est eget, placerat nibh. Suspendisse potenti. Quisque gravida malesuada velit vitae elementum. Donec non consectetur est, id porttitor lorem. Morbi et mi nunc. Mauris sit amet est eu est dignissim molestie nec at enim.

Mauris sem turpis, aliquam a egestas vel, semper auctor dui. Duis non urna ut metus elementum porta. Vestibulum in porta enim. Cras tincidunt libero justo, sit amet pellentesque augue pharetra ac. Vivamus libero nisl, hendrerit vitae quam sed, dignissim bibendum magna. Ut magna leo, tempor eu velit eu, faucibus mattis metus. Aenean eget dui vel dolor faucibus rhoncus. Etiam vel nisi sit amet nisi varius scelerisque. Vestibulum sed arcu ligula. Fusce sed iaculis sem. Vestibulum et posuere mi. Sed mollis tincidunt tortor, non porta nunc facilisis vel. Mauris gravida eros vitae vestibulum imperdiet. Pellentesque vel condimentum mauris, id elementum tortor. Proin vitae nibh metus.</p>

  </div>
</div>
