   <!-- Trigger the modal with a button -->
   <!-- Modal -->
   <div class="modal fade" id="offerModal" role="dialog">
      <div class="modal-dialog">
         <!-- Modal content-->
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal">&times;</button>
               <h3 class="modal-title">Offer Details</h3>
            </div>
            <div class="modal-body">
               <table class="table borderless" id="tblGrid" style="border:none;">
                  <thead id="tblHead">
                     <tr>
                        <th>Details</th>
                        <th>Amount</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr>
                        <td>Normal Price/Product</td>
                        <td><%=@order.normal_price%></td>
                     </tr>
                     <tr>
                        <td>Total Price</td>
                        <td><%=@order.total_price%></td>
                     </tr>
                     <tr>
                        <td>Discount Price/Product</td>
                        <td><%=@order.discount_price%></td>
                     </tr>
                     <tr>
                        <td>Total Discount price</td>
                        <td><%=@order.price%></td>
                     </tr>
                     <tr>
                        <td>Delivery Charge</td>
                        <td><%=@order.delivery_charge%></td>
                     </tr>
                     <tr>
                        <td></td>
                        <td></td>
                     </tr>
                     <tr>
                        <td><b>Total</b></td>
                        <td><b><%= @order.price+ @order.delivery_charge %></b></td>
                     </tr>
                  </tbody>
               </table>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-default close-button" data-dismiss="modal">Close</button>
            </div>
         </div>
      </div>
   </div>
