
<div class="wizard-wrap">
  <div class="container">
    <div class="row">

      <div class="stepwizard">

        <div class="stepwizard-row" style="display: none;" >

          <% @option_types.each_with_index do |type, i| %>
            <div class="stepwizard-step">
              <a class="btn btn-default btn-circle active-step" href="#step-<%=i+1%>" disabled="disabled"  data-toggle="tab" onclick="stepnext(<%=i+1%>)" ><%=i+1%></a>
              <p><%= type.presentation %></p>
            </div>
          <% end %>

          <div class="stepwizard-step">
            <a class="btn btn-default btn-circle active-step" href="#step-<%=@count+1%>" disabled="disabled"  data-toggle="tab" onclick="stepnext(<%=@count+2%>)" ><%=@count+1%></a>
            <p>Quantiy</p>
          </div>

        </div>

        <div class="rate-updates">
          <%= form_for @order, html: { id: "new_order"} do |f| %>
          <div class="tab-content margintop0" style="border:none !important;">
            <% @option_types.includes(:option_values).each_with_index do |type, i| %>
              <div class="tab-pane fade active in padding20" id="step-<%=i+1%>" >
                <div class="row">

                  <div class="col-sm-3">
                    <div class="step-info">
                      <div class="step-head">
                        <h4><img src="/assets/step-tick.png"> Step <%=i+1%></h4>
                      </div>
                      <h5><b><%=type.presentation.titleize%></b></h5>
                    </div>
                  </div>
                  <div class="col-sm-9">
                    <% type.option_values.each do |value| %>
                      <label class="custom-radio1">
                        <%=image_tag(value.image.url, width: "100", class: "option-images")%>
                        <div class="p-relative ">
                        <%= radio_button_tag "order[option_value_ids][#{type.id}]", value.id, value ==type.option_values.first, required: "#{true if value == type.option_values.first}"%>
                          <span class="checkmark"></span>
                          <p><%= value.presentation.titleize %></p>
                        </div>
                      </label>
                    <% end%>
                    <div class="clearfix"></div>
                    <div class="mt20">
                      <%= link_to "Cancel", root_path, class: "btn wizard-cancel" %>
                      <button class="btn wizard-next pull-right" onclick="stepnext(<%=i+2%>);" type="button"><i class="icon-next"></i> Next Step</button>
                      <% if i>0 %>
                        <button class="btn wizard-prev pull-right" onclick="stepnext(<%=i%>);" type="button"><i class="icon-next"></i> Previous</button>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            <%end%>

              <div class="tab-pane fade padding20 " id="step-<%=@count+1%>" >
                <div class="row">
                  <div class="col-sm-3">
                    <div class="step-info">
                      <div class="step-head">
                        <h4><img src="/assets/step-tick.png"> Step <%=@count+1 %></h4>
                      </div>
                      <h5><b>No of pallets</b></h5>
                      <h5><b>Delivery Address</b></h5>
                      <h5><b>Billing Address</b></h5>
                    </div>
                  </div>
                  <div class="col-md-9">
                    <h3><div id="pallet-quantity">Quantity for <%=@category.title.pluralize.titleize%>(Quantity Per pallete = N)</div></h3>
                    <%#= f.number_field :pallets, placeholder: "Enter no of pallets", class: "form-control", required: true, digits: true, min: 1 %>
                    <%= f.select :pallets, {}, {include_blank: "Choose pallet size"}, {class: "form-control", id: "pallet_field", required: true} %>
                    <%= f.hidden_field :category_id, value: @category.id %>
                    <%= f.hidden_field :seller_id, value: @seller.id %>
                    <%= f.hidden_field :quantity, value: "", id: "pallet_quantity" %>
                  </div>
                  <div class="col-md-4">
                    <h3>Delivery Address</h3>
                    <% @addresses.each do |address|%>
                      <%=f.radio_button :shipping_id, address.id, checked: true %><%= address.full_address%><br>
                    <% end %>
                  </div>
                  <div class="col-md-4">
                    <h3>Billing Address</h3>
                    <% @addresses.each do |address|%>
                      <%=f.radio_button :billing_id, address.id, checked: true %><%= address.full_address%><br>
                    <% end %>
                  </div>
                    <div class="mt20 col-md-8 col-md-offset-3">
                      <%= link_to "Cancel", root_path, class: "btn wizard-cancel" %>
                      <%= f.submit "Finish", class: "btn wizard-next pull-right" %>
                      <button class="btn wizard-prev pull-right" onclick="stepnext(<%=@count%>);" type="button"><i class="icon-next"></i> Previous</button>
                    </div>
                </div>
              </div>

        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>



<script type="text/javascript">
  function stepnext(n){
    if(n != 0){
      if(n== <%= @count+1 %> ){
        var seller_id =  <%=@seller.id%>
        var value_id = $("input[name='order[option_value_ids][<%=@size_id%>]']:checked").val();
        var category_id = <%=@category.id%>
        $.ajax({
          url: "/orders/get_pallet",
          type: "GET",
          data: {seller_id: seller_id,value_id: value_id, category_id: category_id  }
        });

      }
        // something to do if form is valid
        //$(".stepwizard-row a").switchClass('btn-primary','btn-default');
      $(".stepwizard-row a").removeClass('btn-primary');
      $(".stepwizard-row a").addClass('btn-default');
      $('.stepwizard a[href="#step-'+n+'"]').tab('show');
      //$('.stepwizard-row a[href="#step-'+n+'"]').switchClass('btn-default','btn-primary');
      $('.stepwizard-row a[href="#step-'+n+'"]').removeClass('btn-default');
      $('.stepwizard-row a[href="#step-'+n+'"]').addClass('btn-primary');
    }
  }
  stepnext(1);
</script>
<script>
    // $("#new_seller").validate();
  $("#select_country").on('change', function() {
    var country = $(this).val();
    $.ajax({
      url: "/admin/sellers/states",
      type: "GET",
      data: {country: country}
    });
  })
  $("#new_order").validate();
</script>
