$("#pallet-quantity").html("Quantity for <%= @category.title.pluralize.titleize%>(Quantity Per Pallete = <%=@pallet.pallet_size%>)");
$("#pallet_quantity").val(<%= @pallet.pallet_size%>);
$('#pallet_field').find('option:not(:first)').remove().end().append("<%= j options_for_select((1..50).map { |i| ["(#{i}) #{i*@pallet.pallet_size} ",i]}) %>");
