<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Invoice-Tradepack</title>
      <meta charset="utf-8">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
      <style>
         .top-div{
         margin-top: 12px;
         }
         .main-color{
         color:#171c8f;
         }
         .heading-style{
         font-size: 66px;
         }
         .heading1 {
         border-bottom: 1px #171c8f;
         }
         .hr-style {
         background-color:#171c8f;
         height: 4px;
         margin-left: 3px;
         margin-top:-19px;
         }
         .hr-style1{
         background-color:#171c8f;
         height: 4px;
         margin-left: -25px;
         margin-top:-8px;
         }
         .table-head{
         background-color:#171c8f;
         color: #fff;
         }
         .table-odd{
         background: #FFF;
         }
         .table-even{
         background: #CCC;
         }
         .table-discount{
         color:#171c8f;
         }
         .align{
         text-align: center;
         }
      </style>
   </head>
   <body>
      <div class="container-fluid">
         <div class="row">
            <div class="col-xs-12" align="centre">
               <img class="img-responsive" src="http://localhost:3000/assets/mail_logo.png" alt="tradepack" >
            </div>
         </div>
         <br>
         <div class="row">
            <div class="col-xs-12">
                  <div class="col-xs-3">
                     <i class="fa fa-envelope" aria-hidden="true" style="font-size: 20px;"></i>tradepack@gmail.com
                  </div>
                  <div class="col-xs-3">
                     <i class="fa fa-desktop" aria-hidden="true"  style="font-size: 20px;"></i>www.tradepack.com
                  </div>
                  <div class="col-xs-3">
                     <i class="fa fa-mobile" aria-hidden="true"  style="font-size: 22px;"></i><br>+97-9876543210
                  </div>
                  <div class="col-xs-3">
                     <i class="fa fa-map-marker" aria-hidden="true"  style="font-size: 20px;"></i><br>715 west street of kinlizi PO 1254,NYC
                  </div>

               <div class="col-xs-12">
               </div>
            </div>
         </div>
      </div>
      <br>
      <div class="container">
         <div class="row">
            <div class="col-xs-6">
               <br>
               <br>
               <h3 class="main-color"><b><i class="fa fa-sticky-note-o main-color" aria-hidden="true"></i>&nbsp;INVOICE TO</b></h3>
               <h2><b><%=@order.user.full_name%></b></h2>
               <h6><%=@order.billing_address.address_string%></h6>
            </div>
            <div class="col-xs-6">
               <p class="heading-style">INVOICE</p>
               <hr class="hr-style" />
               <div class="line"></div>
               <div>
                  <h5><i class="fa fa-square main-color" aria-hidden="true"></i>&nbsp;Order: <%= @order.order_id%></h5>
                  <h5><i class="fa fa-square main-color" aria-hidden="true"></i>&nbsp;Order Date: <%=@order.updated_at.strftime('%d-%m-%Y')%></h5>
               </div>
            </div>
         </div>
      </div>
      <br/>
      <br/>


      <div class="container">
         <div class="table-responsive">
            <table class="table">
               <thead class="table-head">
                  <tr>
                     <th>REF</th>
                     <th>DESCRIPTION</th>
                     <th>UNIT PRICE</th>
                     <th>QUANTITY</th>
                     <th>TOTAL</th>
                  </tr>
               </thead>
               <tbody>
                  <tr class="table-odd">
                     <td>017</td>
                     <td>Normal price</td>
                     <td><%=@order.normal_price%></td>
                     <td><%=@order.total_quantity%></td>
                     <td><%=@order.total_price%></td>
                  </tr>
                  <tr class="table-even">
                     <td>018</td>
                     <td>Discount Price</td>
                     <td><%=@order.discount_price%></td>
                     <td><%=@order.total_quantity%></td>
                     <td><%=@order.price%></td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>


      <div class="container">
         <div class="col-xs-7">

         </div>
         <div class="col-xs-5">
            <div class="table-responsive">
               <table class="table">
                  <tbody>
                     <tr class="table-odd">
                        <td>Sub Total</td>
                        <td><%=@order.price%></td>
                     </tr>
                     <tr class="table-even">
                        <td>Delivery Charge</td>
                        <td><%=@order.delivery_charge%></td>
                     </tr>
                     <tr class=" table-head">
                        <td>Total Amount</td>
                        <td><%=@order.delivery_charge + @order.price%></td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
      </div>

      <br>
      <div class="container">
         <div class="col-xs-8">
         </div>
         <div class="col-xs-4 align">
            <p>Accounts Manager</p>
            666666666666
            <p><b>LOREM IPSUM DOLOR</b></p>
            <img src="http://localhost:3000/assets/sign.png" class="img-responsive">
         </div>
      </div>
      <div class="container">
         <div class="col-xs-6">
            <h3><b>Thank you for your business! </b></h3>
            <hr class="hr-style1" />
            <i class="fa fa-info-circle" aria-hidden="true"></i><b>TERMS:</b>
            Lorem ipsum dolor sit amet.
         </div>
         <div class="col-xs-2">
         </div>
         <div class="col-xs-4 col-xs-12">
            <!-- <img src="lengthy-logo.jpg" style="height: 83px;width: 361px;" class="img-responsive"> -->
         </div>


         </div>
      </div>
   </body>
</html>
