
<div class="req1">
  <div class="container-fluid">
    <% if @orders.present? %>
      <h3>My Orders</h3>
    <% else %>
      <h3>No Orders Found</h3>
    <% end %>
    <% @orders.each do |order| %>
      <div class="row m0 od-head">
        <div class="col-sm-2">
          <h4>Request</h4>
        </div>
        <div class="col-sm-2">
          <h4>Quanity</h4>
        </div>
        <div class="col-sm-2">
          <h4>Category</h4>
        </div>
        <div class="col-sm-2">
          <h4>Options</h4>
        </div>
        <div class="col-sm-2">
          <h4>Brand Company</h4>
        </div>
        <div class="col-sm-2">
          <h4>Status</h4>
        </div>
      </div>

      <div class="row m0 od-content">
        <div class="col-sm-2">
          <p><%= order.order_id %></p>
        </div>
        <div class="col-sm-2">
          <p><%= order.pallets * order.quantity  %>&nbsp(<%= order.pallets%> x <%=order.quantity%>)</p>
        </div>
        <div class="col-sm-2">
          <p><%= order.category.title.titleize %></p>
        </div>
        <div class="col-sm-2">
          <p><%= order.options %></p>
        </div>
        <div class="col-sm-2">
          <%=image_tag order.seller.logo.url, width: "100", class: "option-images mt10"%>
        </div>
        <div class="col-sm-2">
          <div class="stat">
            <%= order.payment_status %>
          </div>
        </div>

        <div class="clearfix"></div>
        <div class="col-sm-4">
          <div class="row m0 mt30 mb30">
            <div class="col-sm-2">
              <img src="/assets/van.png" width="100%" class="mt20">
            </div>
            <div class="col-sm-10">
              <select class="form-control mt10">
                <option><%= order.shipping_address.full_address %></option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-sm-5 row m0 mt40 mb30">
          <button type="button" class="btn btn-primary"><%=order.delivery_status%></button>
        </div>
        <div class="col-sm-3 row m0 mt40 mb30" align="right">
          <%= link_to "<i class='fas fa-file-pdf'></i> Download Invoice".html_safe, invoice_order_path(order, format: :pdf), class: "btn btn-primary Download-pdf" %>

        </div>




        <div class="clearfix"></div>
      </div>
    <% end %>

  </div>
</div>

