<div class="req1">
  <div class="container-fluid">
    <% if @orders.present? %>
      <h3>My Requests</h3>
    <% else %>
    <h3>No Requests Found</h3>
    <% end %>
    <% @orders.each do |order| %>
      <div class="row m0 od-head">
        <div class="col-sm-2">
          <h4>Request</h4>
        </div>
        <div class="col-sm-2">
          <h4>Quantity</h4>
        </div>
        <div class="col-sm-2">
          <h4>Category</h4>
        </div>
        <div class="col-sm-2">
          <h4>Options</h4>
        </div>
        <div class="col-sm-2">
          <h4>Brand Company</h4>
        </div>
        <div class="col-sm-2">
          <h4>Status</h4>
        </div>
      </div>

      <div class="row m0 od-content">
        <div class="col-sm-2">
          <p><%= order.offer_name %></p>
        </div>
        <div class="col-sm-2">
          <p><%= order.pallets * order.quantity  %>&nbsp(<%= order.pallets%> x <%=order.quantity%>)</p>
        </div>
        <div class="col-sm-2">
          <p><%= order.category.title.titleize%></p>
        </div>
        <div class="col-sm-2">
          <p><%= order.options %></p>
        </div>
        <div class="col-sm-2">
          <%=image_tag order.seller.logo.url, width: "100" ,class: "option-images mt10"%>
        </div>
        <div class="col-sm-2">
          <div class="stat">
            <%= order.admin_status %>
          </div>
        </div>

        <div class="clearfix"></div>
        <div class="col-sm-4">
          <div class="row m0 mt30 mb30">
            <div class="col-sm-2">
              <img src="/assets/van.png" width="100%" class="mt20">
            </div>
            <div class="col-sm-10">
              <select class="form-control mt10">
                <option><%= order.shipping_address.full_address %></option>
              </select>
            </div>
          </div>
        </div>

        <% if (order.approved) && (!order.canceled?) &&(!order.expired?) %>
          <div class="pull-right mt20 mr20">
            <div class="tym-left">
              <p style="color: white; margin-top: 0px;">TIME BEFORE END OF NEGOTIATION</p>
              <h3><div class="auto-due">
                <div class="soon" id="soon-cartoon"
                     data-layout="line"
                     data-due= "<%= order.expires_at.strftime("%F %T")+"+00:00"%>"
                     data-scale-max="s"
                     data-face="slot roll right">
                </div>
              </div></h3>
              <%= link_to "View Details", offer_summary_order_path(order), class: "btn btn-default", remote: true %>
            </div>
            <div class="amount-d">
              <h2><span class="old-p">$ <%= order.total_price+order.delivery_charge %></span>  $<%=order.price + order.delivery_charge%></h2>
              <p><span class="off-p">You have saved $ <%= order.difference %></span></p>
            </div>
          </div>
            <div class="clearfix"></div>
          <div class="pull-right">
            <%= link_to "Cancel", cancel_order_path(order), class: "btn btn-default btn-lg mr20 mb20", data: { confirm: "Are you sure?"}%>
            <%= link_to order.paypal_url(order_summary_orders_url(id: order.id), hook_orders_url, order_canceled_orders_url) do %>
              <button class="btn btn-warning btn-lg mr20 mb20">Proceed</button>
            <% end %>
          </div>
        <% elsif !order.canceled?%>
        <%= link_to "Cancel", cancel_order_path(order), class: "btn btn-default btn-lg mr20 mb20 pull-right", data: { confirm: "Are you sure?"}%>
        <% end %>
      </div>
    <% end %>

  </div>
</div>
<div class="offer_summary"> </div>
