<div class="order-message">
  <div class="container">
    <div class="row m0">
      <div class="col-sm-6 col-sm-offset-3">
        <div class="flex-wrap">
          <div class="flex1">
            <div class="order-message-inner" align="center">
              <img src="/assets/tick.png" class="mt20 mb20">
              <h2 class="mt10">Your order(<%=@order.order_id%>) has been successfully placed</h2>
              <p style="color: #000;">You can check the order details and delivery details in my orders page.</p>
              <%= link_to "CHECK STATUS", my_orders_orders_path, class: "btn btn-main btn-stat" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
