    <div class="container">
      <div class="row mt40 wrap-cat">
        <h3>Choose category</h3>
        <% @categories.each do |category| %>
          <%= link_to new_order_path(category_id: category.to_param) do%>
            <label class="custom-radio col-sm-4">
              <span class="checkmark"> <%=image_tag(category.image.url, size: "150x150")%></span>
              <div class="ra-txt"><h4><%= category.title.titleize%></h4></div>
            </label>
          <% end %>
        <% end %>

      <div class="clearfix"></div>
    </div>
