
  <div class="container">
    <div class="vertical-align-content">
      <div class="col-sm-4 col-sm-offset-4">
        <div class="outer">
          <div class="middle">
            <div class="block-login">

              <div class="sign-logo-admin mb20" align="center">
                <img src="/assets/logo.png">
              </div>

              <div class="block-login-content">
                <h1>Admin Login</h1>
                <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {id: "signinForm"}) do |f| %>
                <%= render 'shared/errors', object: f.object %>

                  <div class="form-group">
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Login/Email", email: true, required: true, "data-msg-required": "Email is required" %>
                  </div>
                  <div class="form-group">
                    <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Your Password", required: true, "data-msg-required": "Password is required"%>
                  </div>
                  <div class="pull-left">
                    <div class="checkbox">
                      <label><input type="checkbox" name="remember_me"> Keep me signed in</label>
                    </div>
                  </div>
                  <div class="pull-right">
                    <a href="<%=new_password_path(resource_name)%>">Forgot password?</a>
                  </div>
                  <button class="btn btn-primary btn-block mb10" type="submit">Sign in</button>

                <% end %>
                <div class="sp"></div>

              </div>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
<script>
  $(document).ready(function(){
    $("#signinForm").validate();
  });
</script>
