
    <h3>Hi, <%= @user.full_name %></h3>
    <p>Your order <%=link_to @order.order_id, "#"%> has been approved by Tradepack, you can review the price in my request page. The offer details also attached with this email.</p>

