
          <% collection.each_with_index do |cat, i| %>

            <ul class="treeview checklist">
              <li>
                <input type="checkbox" name="tall" id="tall-<%=cat.id%>">
                <label for="tall-<%=cat.id%>">
                  <div class="ball" data-id="<%=i+1%>"></div>
                  <span ><%=cat.title%> <%=link_to '<i class="edit-pencil fa fa-pencil-square-o pull-right"></i>'.html_safe, edit_admin_category_path(cat)%></span>
                </label>
                <% if cat.has_children? %>
                    <%= render partial: "child_category", locals: { children: cat.children } %>
                <% end %>
              </li>
            </ul>
          <% end %>

