
  <div class="container-fluid">
    <div class="page-toolbar">
      <div class="page-toolbar-block">
        <div class="page-toolbar-title">Edit Category</div>
        <div class="page-toolbar-subtitle"></div>
      </div>

      <ul class="breadcrumb">
        <li><a href="<%= admin_root_path %>">Dashboard</a></li>
        <li class="active">Edit Category</li>
      </ul>
    </div>

    <div class="clearfix"></div>

    <div class="page-wrapper">
      <div class="container-fluid">
        <div class="page-bg">
          <div class="row m0">
            <div class="col-sm-6 col-sm-offset-3">
              <%= form_for @category, url: admin_category_path(@category), method: :put, html: {id: "edit_category"} do |f| %>
                <%= render 'shared/errors', object: @category %>
                <div class="form-group">
                  <label>Category Title:</label>
                  <%= f.text_field :title, class: "form-control", placeholder: "Category Title", required: true, "data-msg-required": "Please enter category title", maxlength: 50%>
                </div>
                <div class="form-group">
                  <label>Option Types:</label>
                  <%= f.collection_select :option_type_ids, OptionType.all, :id, :name, {}, {class: "form-control selectpicker", multiple: true, required: true, "data-msg-required": "Please select option types", id: "select_option_type"} %>
                </div>

                <div class="form-group">
                  <label>Option Type for setting pallet size:</label>
                  <%= f.collection_select :size_id, @category.option_types, :id, :name, {prompt: "Select one option type"}, {class: "form-control", required: true, "data-msg-required": "Please select option type", id: "select_size_id"} %>
                </div>
                <div class="form-group">
                  <label>Image:</label>
                  <%= f.file_field :image, class: "form-control", required: f.object.image? ? false : true, accept: "image/png, image/jpg, image/jpeg" %>
                </div>

                <div align="right">
                  <%= link_to "CANCEL", admin_categories_path, class: "btn btn-default" %>
                  <%= f.submit "SAVE", class: "btn btn-primary" %>
                </div>

              <% end %>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<script>
  $(document).ready(function(){
     $("#edit_category").validate();
  });
  $(".selectpicker").on('hidden.bs.select', function() {
    var ids = $('.selectpicker').val();
    $.ajax({
      url: "/admin/categories/load_size_types",
      type: 'GET',
      data: {ids: ids }
    });
  });
</script>
