

    <div class="container-fluid">

      <div class="page-toolbar">

        <div class="page-toolbar-block">
          <div class="page-toolbar-title"> Category List</div>
          <div class="page-toolbar-subtitle"></div>
        </div>

        <ul class="breadcrumb">
          <li><a href="<%= admin_root_path %>">Dashboard</a></li>
          <li class="active">Categories</li>
        </ul>

      </div>

      <div class="clearfix"></div>

      <div class="page-wrapper">
        <div class="container-fluid">
          <table class="table list">
          <thead>
            <tr>
              <th>Image</th>
              <th>Category Name</th>
              <th> No of option Types</th>
              <th>No of sellers</th>
            </tr>
          </thead>
          <tbody>
            <% @categories.each do |category| %>
              <tr>
                <td><%= image_tag(category.image.url, class: "img-rounded", width: 40, height: 40)%></td>
                <td><%= category.title.titleize%></td>
                <td><%= category.option_types.count%></td>
                <td><%= category.sellers.count%></td>
                <td><span><%= link_to '<i class="fa fa-pencil-square-o fa-lg"></i>'.html_safe, edit_admin_category_path(category) %>&nbsp;
                  <%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, admin_category_path(category), method: :delete, data: {confirm: "Are you sure?"}%></span>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        </div>

      </div>
    </div>
  </div>
