  <div class="container-fluid">
    <div class="page-toolbar">
      <div class="page-toolbar-block">
        <div class="page-toolbar-title">Edit Product</div>
        <div class="page-toolbar-subtitle"></div>
      </div>

      <ul class="breadcrumb">
        <li><a href="<%=admin_root_path %>">Dashboard</a></li>
        <li class="active">Edit Product</li>
      </ul>
    </div>

    <div class="clearfix"></div>

    <div class="page-wrapper">
      <div class="container-fluid">
        <div class="page-bg">
          <div class="row m0">
            <div class="col-sm-6 col-sm-offset-3">
              <%= form_for @product, url: admin_product_path, method: :put, html: {multipart: true, id: "edit_product"} do |f| %>
                <%= render 'shared/errors', object: @product %>
                <div class="form-group">
                  <label>Product Name:</label>
                  <%= f.text_field :name, class: "form-control", placeholder: "Product Name", required: true, "data-msg-required": "Please enter product name", minlength: 2, maxlength: 50%>
                </div>

                <div class="form-group">
                  <label>Product Code:</label>
                  <%= f.text_field :code, class: "form-control", placeholder: "Product Code", required: true, "data-msg-required": "Please enter product code", minlength: 2, maxlength: 50%>
                </div>

                <div class="form-group">
                  <label>Description:</label>
                  <%= f.text_area :description, class: "form-control", placeholder: "Description", required: true, "data-msg-required": "Please enter product description" %>
                </div>

                <div class="form-group">
                  <label>Available On:</label>
                  <%= f.text_field :available_on, value: @product.available_on.strftime("%e-%m-%Y"), class: "form-control available_date", placeholder: "Available on", required: true, maxlength: 20, "data-msg-required": "Please enter date" %>
                </div>

                <div class="form-group">
                  <label>Category:</label>
                  <%= f.select :category_id, @categories, {prompt: "Select"}, class: "form-control", required: true, "data-msg-required": "Please select category" %>
                </div>

                <div class="form-group">
                  <label>Sellers:</label>
                  <%= f.collection_select :seller_ids, Seller.all, :id, :name, {}, {class: "form-control selectpicker", multiple: true, required: true, "data-msg-required": "Please select sellers"} %>
                </div>

                <div class="form-group">
                  <label>Option Types:</label>
                  <%= f.collection_select :option_type_ids, OptionType.all, :id, :name,{}, {class: "form-control selectpicker", multiple: true, required: true, "data-msg-required": "Please select option types"} %>
                </div>

                <div class="form-group">
                  <label>Images:</label>
                  <%= f.file_field :images, multiple: true, class: "form-control", accept: "image/png, image/jpg, image/jpeg" %>
                </div>

                <div align="right">
                  <%= link_to "CANCEL", admin_products_path, class: "btn btn-default" %>
                  <%= f.submit "SAVE", class: "btn btn-primary" %>
                </div>

              <% end %>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<script>
  $(document).ready(function(){
     $("#new_product").validate();
     $('.selectpicker').selectpicker();
  });
  $(function() {
      $('.available_date').datepicker({ dateFormat: 'dd-mm-yy' });
    });
</script>
