
  <div class="container-fluid">

    <div class="page-toolbar">

      <div class="page-toolbar-block">
        <div class="page-toolbar-title"> Product List</div>
        <div class="page-toolbar-subtitle"></div>
      </div>
      <ul class="breadcrumb">
        <li><a href="<%= admin_root_path %>">Dashboard</a></li>
        <li class="active">Products</li>
      </ul>

    </div>

    <div class="clearfix"></div>

    <div class="page-wrapper">
      <div class="container-fluid">
        <%= search_form_for @q, url: admin_products_path do |f| %>
          <div class="col-sm-3">
            <%= f.search_field :name_or_code_cont, placeholder: "Name or Code", class: "form-control" %>
          </div>
          <div class="col-sm-3">
            <%= f.select :category_title_cont, @categories, {include_blank: "Select Category"}, class: "form-control selectpicker" %>
          </div>
          <div class="col-sm-3">
            <%= f.select :sellers_name_cont,Seller.all.pluck(:name, :id), {include_blank: "Select Seller"}, class: "selectpicker"%>
          </div>
          <div class="col-sm-3">
            <%= f.search_field :available_on_eq, class: 'available_date form-control', value: params.dig(:q, :available_on_eq), placeholder: " Availbale On"%>
          </div>
          <div class="col-sm-3">
            <%= link_to request.path, class: "btn btn-primary ml10 mt15" do %>
              <i class="fas fa-filter"></i> Clear Filter
            <% end %>
            <%= f.button :submit, class: "btn btn-success ml10 mt15" do %>
              <i class='fas fa-search'></i> Search
            <% end %>
          </div>
        <% end %>


        <table class="table list">
          <thead>
            <tr>
              <th>Image</th>
              <th>Product Code</th>
              <th>Name</th>
              <th>Category</th>
              <th> No of sellers </th>
              <th>Available From</th>
            </tr>
          </thead>
          <tbody>
            <% @products.each do |product| %>
              <tr>
                <td><%= image_tag(product.images[0].url, class: "img-rounded", width: 40, height: 40)%></td>
                <td><%= product.code%></td>
                <td><%= link_to "#{product.name}", admin_product_path(product)%></td>
                <td><%= product.category.title%></td>
                <td><%= product.sellers.count%></td>
                <td><%= product.available_on.strftime('%v')%></td>
                <td><span><%= link_to '<i class="fa fa-pencil-square-o fa-lg"></i>'.html_safe, edit_admin_product_path(product) %></span></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= paginate @products %>
      </div>
    </div>





  </div>
<script>
  $(document).ready(function(){
     $('.selectpicker').selectpicker();
     $(function() {
      $('.available_date').datepicker({ dateFormat: 'dd-mm-yy' });
    });
  });
</script>
