        <div class="container-fluid">
          <div class="row m0 product-wrap">
            <div class="col-sm-3">

             <div id="myCarousel" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <% @product.images.each_with_index do |img, i| %>
                  <% if i == 0 %>
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                  <% else %>
                    <li data-target="#myCarousel" data-slide-to="#{i}"></li>
                  <% end %>
                <% end %>
              </ol>

              <!-- Wrapper for slides -->
              <div class="carousel-inner">
                <% @product.images.each_with_index do |img, i| %>
                <% if i ==0 %>
                  <div class="item active">
                    <%= image_tag(img.url, width: 300, height: 300)%>
                  </div>
                  <% else %>
                   <div class="item ">
                     <!-- <img src="img/apple.png" width="100%" > -->
                     <%= image_tag(img.url, width: 300, height: 300)%>
                   </div>
                   <% end %>
                <% end %>
              </div>

              <!-- Left and right controls -->
              <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>


          </div>
          <div class="col-sm-6">

            <h2 class="m0"><%= @product.name %>-<%=@product.code %></h2>
            <hr class="mb0">
            <p><%= @product.description%></p>
            <%= link_to edit_admin_product_path(@product), class: "btn-primary btn" do %>
              <i class="fas fa-edit"></i> EDIT
            <% end %>
          </div>
       </div>
       <div class="row m0 ">
         <div class="col-sm-6" style="padding: 0px">
          <table class="table  pro-table">
            <thead>
              <tr>
                <th></th>

                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Category:</td>
                <td><%=@product.category.title%></td>
              </tr>
              <% @product.option_types.includes(:option_values).each do |type| %>
                <tr>
                  <td><%= type.presentation %> :</td>
                  <td>
                    <% type.option_values.each_with_index do |value,i| %>
                      <% if i==0%>
                        <%= value.presentation %>
                      <% else %>
                      , <%=value.presentation%>
                      <% end %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
              <tr>
                <td>Sellers:</td>
                <td>
                  <% @product.sellers.each do |seller| %>
                    <%= seller.name %>
                  <% end %>
                </td>
              </tr>
            </tbody>
          </table>

        </div>



      </div>

    </div>







  </div>





</div>
</div>


