<div class="sign-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4" >
        <div class="outer">
          <div class="middle">
            <div class="inner">
             <div class="sign-inner" align="center">
              <img src="/assets/logo1.png" class="sign-logo" width="100%" />
              <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :put, id: "change_password"}) do |f| %>
                <%= render 'shared/errors', object: f.object %>
                <%= f.hidden_field :reset_password_token %>
                <div class="form-group">
                  <%= f.password_field :password, autofocus: true, autocomplete: "off", class: "form-control sign-input", placeholder: "Password", required: true, "data-msg-required": "Password required", id: "password" %>
                </div>
                <div class="form-group">
                  <%= f.password_field :password_confirmation, autofocus: true, autocomplete: "off", class: "form-control sign-input", placeholder: "Confirm Password", required: true, "data-msg-required": "Confirm Password required", equalTo: "#password" %>
                </div>
                <%= f.submit "Change my password", class: "btn-main btn btn-block" %>
              <% end %>
              <%= render "users/shared/links" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<div class="signin-footer">
  <div class="container-fluid">
    <div class="pull-left">
      <p>Privacy     |     Legal     |     Terms & Condition</p>
    </div>
    <div class="pull-right">
      <p>© Copyright 2018</p>
    </div>
  </div>

</div>

</div>
<script>
$(document).ready(function(){
  $("#change_password").validate();
});
</script>
