<div class="sign-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4" >
        <div class="outer">
          <div class="middle">
            <div class="inner">
             <div class="sign-inner" align="center">
              <img src="/assets/logo1.png" class="sign-logo" width="100%" />
              <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :post, id: "forgot_password"}) do |f| %>
                <%= render 'shared/errors', object: f.object %>
                <div class="form-group">
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control sign-input", placeholder: "Email", required: true, "data-msg-required": "Email required",  email:
                   true %>
                </div>
                <%= f.submit "Send me reset password instructions", class: "btn-main btn btn-block" %>
              <% end %>
              <%= render "users/shared/links" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<div class="signin-footer">
  <div class="container-fluid">
    <div class="pull-left">
      <p>Privacy     |     Legal     |     Terms & Condition</p>
    </div>
    <div class="pull-right">
      <p>© Copyright 2018</p>
    </div>
  </div>

</div>

</div>
<script>
$(document).ready(function(){
  $("#forgot_password").validate();
});
</script>
