
<div class="auto-due">


    <div class="soon" id="soon-cartoon"
         data-layout="line"
         data-due="2019-11-25"
         data-scale-max="s"
         data-face="slot roll right">
    </div>
</div>
