

  <div class="container-fluid">

    <div class="page-toolbar">

      <div class="page-toolbar-block">
        <div class="page-toolbar-title"> Users List</div>
        <div class="page-toolbar-subtitle">Subtitle</div>
      </div>

      <ul class="breadcrumb">
        <li><a href="<%= admin_root_path %>">Dashboard</a></li>
        <li class="active">Users</li>
      </ul>

    </div>

    <div class="clearfix"></div>

    <div class="page-wrapper">
      <div class="container-fluid">

        <%= search_form_for @q, url: admin_users_path do |f| %>
          <div class="col-sm-3">
            <%= f.search_field :first_name_or_last_name_or_email_cont, placeholder: "Name or Email", class: "form-control" %>
          </div>
          <div class="col-sm-3">
            <%= f.search_field :primary_address_country_cont, placeholder: "Country", class: "form-control"  %>
          </div>
          <div class="col-sm-3">
            <%= f.search_field :company_cont, placeholder: "Company", class: "form-control"  %>
          </div>
            <div class="col-sm-3 mb20">
              <%= link_to request.path, class: "btn btn-primary " do %>
                <i class="fas fa-filter"></i> Clear Filter
              <% end %>
              <%= f.button :submit, class: "btn btn-success ml10" do %>
                <i class='fas fa-search'></i> Search
              <% end %>
            </div>
        <% end %>


        <table class="table list">
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Phone</th>
              <th>Company</th>
              <th>VAT Number</th>
              <th>Country</th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td><%= link_to "#{user.full_name}", admin_user_path(user) %></td>
                <td><%= user.email %></td>
                <td><%= user.phone_no %></td>
                <td><%= user.company.titleize %></td>
                <td><%= user.vat_no %></td>
                <td><%= user.try(:default_address).try(:country) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= paginate @users %>
      </div>
    </div>
  </div>
