<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="users-view">
        <div align="center">
          <img src="/assets/user23.png" width="180px" class="mb20" />
        </div>

        <div class="row m0 border-dashed pt10">
          <div class="col-sm-6">
            <p > <b>Name</b> <span class="pull-right" >: </span> </p>
          </div>
          <div class="col-sm-6">
            <p ><%= @user.full_name.titleize%></p>
          </div>
        </div>

        <div class="row m0 border-dashed pt10">
          <div class="col-sm-6">
            <p > <b>Email</b> <span class="pull-right" >: </span> </p>
          </div>
          <div class="col-sm-6">
            <p ><%= @user.email%></p>
          </div>
        </div>

        <div class="row m0 border-dashed pt10">
          <div class="col-sm-6">
            <p > <b>Company</b> <span class="pull-right" >: </span> </p>
          </div>
          <div class="col-sm-6">
            <p ><%= @user.company.titleize%></p>
          </div>
        </div>

        <div class="row m0 border-dashed pt10">
          <div class="col-sm-6">
            <p > <b>Phone Number</b> <span class="pull-right" >: </span> </p>
          </div>
          <div class="col-sm-6">
            <p ><%= @user.phone_no%></p>
          </div>
        </div>

        <div class="row m0 border-dashed pt10">
          <div class="col-sm-6">
            <p > <b>Vat Number</b> <span class="pull-right" >: </span> </p>
          </div>
          <div class="col-sm-6">
            <p ><%= @user.vat%></p>
          </div>
        </div>

        <div class="row m0 border-dashed pt10">
          <div class="col-sm-6">
            <p > <b>Address</b> <span class="pull-right" >: </span> </p>
          </div>
          <div class="col-sm-6">
            <p ><%= @address.full_address%></p>
          </div>
        </div>

        <% if !@user.approved? %>
        <div align="center" class="mt20">
          <%= link_to "Cancel", admin_users_path, class: "btn btn-default"%>
          <%= link_to "Approve", approve_admin_user_path, class: "btn btn-primary"%>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
