  <div class="container">
    <div class="vertical-align-content">
      <div class="col-sm-4 col-sm-offset-4">
        <div class="outer">
          <div class="middle">
            <div class="block-login">

              <div class="sign-logo mb20" align="center">
                <img src="/assets/logo.png">
              </div>

              <div class="block-login-content">
                <h1>Change password</h1>
                <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :put, id: "signinForm"}) do |f| %>
                   <%= render 'shared/errors', object: f.object %>
                   <%= f.hidden_field :reset_password_token %>
                  <div class="form-group">
                    <%= f.password_field :password, autofocus: true, autocomplete: "off", class: "form-control", placeholder: "New Password" %>
                  </div>
                  <div class="form-group">
                    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Confirm Password" %>
                  </div>
                  <div class="pull-right">
                    <a href="<%=new_session_path(resource_name)%>">Login</a>
                  </div>
                  <button class="btn btn-primary btn-block mb10" type="submit">Change my password</button>
                <% end %>
                <div class="sp"></div>

              </div>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
