  <div class="container">
    <div class="vertical-align-content">
      <div class="col-sm-4 col-sm-offset-4">
        <div class="outer">
          <div class="middle">
            <div class="block-login">

              <div class="sign-logo mb20" align="center">
                <img src="/assets/logo.png">
              </div>

              <div class="block-login-content">
                <h1>Forgot your password?</h1>
                <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :post, id: "signinForm"}) do |f| %>
                <%= render 'shared/errors', object: f.object %>

                  <div class="form-group">
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Enter your email" %>
                  </div>
                  <div class="pull-right">
                    <a href="<%=new_session_path(resource_name)%>">Log in</a>
                  </div>
                  <button class="btn btn-primary btn-block mb10" type="submit">Send me reset password instructions</button>

                <% end %>
                <div class="sp"></div>

              </div>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
