<div class="nested-fields">
  <div class="form-group col-sm-4">
    <label>Name:</label>
    <%= f.text_field :name, class: "form-control", placeholder: "Name", required: true, "data-msg-required": "Please enter name", minlength: 2, maxlength: 50%>
  </div>

  <div class="form-group col-sm-4 ">
    <label>Presentation:</label>
    <%= f.text_field :presentation, class: "form-control", placeholder: "Presentation", required: true, "data-msg-required": "Please enter presentation" %>
  </div>
  <div class="form-group col-sm-4 ">
    <label>Image:</label>
      <%= f.file_field :image, class: "form-control", required: f.object.image? ? false: true, "data-msg-required": "Select an image", accept: "image/png, image/jpg, image/jpeg" %>
      <%#= image_tag(f.object.image, width: "100px", class: "img-view") if f.object.image? %>
      <%= link_to_remove_association '<i class="fas fa-times"></i>'.html_safe, f, class: "btn btn-danger remove-value" %>
  </div>

  <%#= f.check_box :_destroy %>
</div>
