

  <div class="container-fluid">
    <div class="page-toolbar">
      <div class="page-toolbar-block">
        <div class="page-toolbar-title">Edit Option Type</div>
        <div class="page-toolbar-subtitle"></div>
      </div>

      <ul class="breadcrumb">
        <li><a href="<%=admin_root_path %>">Dashboard</a></li>
        <li class="active">Edit Option Type</li>
      </ul>
    </div>

    <div class="clearfix"></div>

    <div class="page-wrapper">
      <div class="container-fluid">
        <div class="page-bg">
          <div class="row m0">
            <div class="col-sm-9 col-sm-offset-2">
              <h4 class="primary-color ml10 mb20">Option Type details</h4>
              <div class="clearfix"></div>
              <%= form_for @option_type, url: admin_option_type_path, method: :put, html: {id: "new_type"} do |f| %>
                  <%= render 'shared/errors', object: f.object %>
                <div class="form-group col-sm-6">
                  <label>Option Type Name:</label>
                  <%= f.text_field :name, class: "form-control", placeholder: "Option Type", required: true, "data-msg-required": "Please enter option type", minlength: 2, maxlength: 50%>
                </div>

                <div class="form-group col-sm-6">
                  <label>Presentation:</label>
                  <%= f.text_field :presentation, class: "form-control", placeholder: "Presentation", required: true %>
                </div>
                <div>
                  <h4 class="primary-color ml10 mb20">Option Value details</h4>
                   <div class="clearfix"></div>
                  <div id="addresses">
                    <%= f.fields_for :option_values do |value| %>
                      <%= render 'option_value_fields', f: value %>
                       <div class="clearfix"></div>
                    <% end %>

                    <div class="links">

                      <%= link_to_add_association '<i class="fas fa-plus"></i> Add Values'.html_safe, f, :option_values, class: "btn add-value btn-primary"  %>

                    </div>
                  </div>
                </div>

                <div align="right">
                  <%= link_to "CANCEL", admin_option_types_path, class: "btn btn-value btn-default" %>
                  <%= f.submit "SAVE", class: "btn btn-primary" %>
                </div>

              <% end %>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<script>
  $(document).ready(function(){
     $("#new_type").validate();
     $('.selectpicker').selectpicker();
  });
</script>



