
  <div class="container-fluid">

    <div class="page-toolbar">

      <div class="page-toolbar-block">
        <div class="page-toolbar-title"> Option Types</div>
        <div class="page-toolbar-subtitle"></div>
      </div>
      <ul class="breadcrumb">Dashboard</a></li>
        <li class="active">Option Types</li>
      </ul>

    </div>

    <div class="clearfix"></div>

    <div class="page-wrapper">
      <div class="container-fluid">


        <table class="table list">
          <thead>
            <tr>
              <th>Name</th>
              <th>Presentation</th>
              <th>No of option values </th>
            </tr>
          </thead>
          <tbody>
            <% @option_types.each do |type| %>
              <tr>
                <td><%= type.name.titleize%></td>
                <td><%= type.presentation.titleize%></td>
                <td><%= type.option_values.count%></td>
                <td><span><%= link_to '<i class="fa fa-pencil-square-o fa-lg"></i>'.html_safe, edit_admin_option_type_path(type) %></span></td>
              </tr>
            <% end %>
          </tbody>
        </table>
<%#= paginate @sellers %>
      </div>
    </div>
  </div>
