<!DOCTYPE html>
<html>
  <head>
    <title>Tradepack|Login</title>
    <%= csrf_meta_tags %>
    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <%= stylesheet_link_tag  'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  </head>

  <body>
    <div class="sign-wrapper">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
<script type="text/javascript">
   $(document).ready(function(){
      $(".alert" ).fadeOut(3000);
   });
</script>
