<!DOCTYPE html>
<html>
<head>
  <title>Tradepack</title>
  <%= csrf_meta_tags %>
  <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <%= stylesheet_link_tag  'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>

<body>

    <div class="page-container">
      <div class="page-head">
        <ul class="page-head-elements">
          <li><a href="#" class="page-navigation-toggle"><span class="fa fa-bars"></span></a></li>
          <li class="search">
            <input type="text" class="form-control" placeholder="Search..."/>
          </li>
        </ul>
      </div>
      <div class="page-navigation">

        <div class="page-navigation-info">
          <a href="<%= admin_root_path%>" class="logo">Logo</a>
        </div>

        <div class="profile">
          <img src="/assets/user-30.jpg"/>
          <div class="profile-info">
            <a href="#" class="profile-title">Jean-Damien</a>
            <span class="profile-subtitle">Administrator</span>
            <div class="profile-buttons">
              <div class="btn-group">
                <a class="but dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-cog"></i></a>
                <ul class="dropdown-menu" role="menu">
                  <div class="fa caret-up"></div>
                  <li role="presentation" class="dropdown-header">Profile Menu</li>
                  <li><a href="#">Messages</a></li>
                  <li><a href="#">Statistics</a></li>
                  <li><a href="<%= edit_admin_registration_path%>">Change Password</a></li>
                  <li class="divider"></li>
<!--                   <li><a href="<%=destroy_user_session_path%>">Logout</a></li
 -->
                   <%# if admin_signed_in? %>
                   <li><%= link_to "Logout", destroy_admin_session_path, method: :delete %></li>
                   <%# elsif user_signed_in? %>
                   <!-- <li><%#= link_to "Logout", destroy_user_session_path, method: :delete %></li> -->
                   <%# end %>
                </ul>
              </div>
            </div>

          </div>
        </div>
          <ul class="navigation">
            <li class=""><a href="#"><i class="fa fa-tags"></i> Manage Dashboard</a>
              <ul class="nav child_menu">
                <li class=""><a href="#"><i class="far fa-dot-circle"></i>Home Page Management</a></li>


              </ul>
            </li>
           <li class="<%="open" if controller_name == "categories"%>"><a href="#"><i class="fa fa-tags"></i> Manage category</a>
            <ul class="nav child_menu">
              <li class="<%="active" if current_page?(new_admin_category_path)%>"><a href="<%= new_admin_category_path %>"><i class="far fa-dot-circle"></i>New category</a></li>
              <li class="<%="active" if current_page?(admin_categories_path)%>"><a href="<%= admin_categories_path %>"><i class="far fa-dot-circle"></i> List category </a></li>

            </ul>
          </li>
          <li class="<%="open" if controller_name == "sellers"%>"><a href="#"><i class="fas fa-handshake"></i> Manage Sellers</a>
            <ul>
              <li class="<%="active" if current_page?(new_admin_seller_path)%>"><a href="<%= new_admin_seller_path%>"><i class="far fa-dot-circle"></i>New Seller</a></li>
              <li class="<%="active" if current_page?(admin_sellers_path)%>"><a href="<%= admin_sellers_path%>"><i class="far fa-dot-circle"></i> List Sellers </a></li>

            </ul>
          </li>

          <li class="<%="open" if controller_name == "option_types"%>"><a href="#"><i class="fas fa-info-circle"></i> Option Types</a>
            <ul>
              <li class="<%="active" if current_page?(new_admin_option_type_path)%>"><a href="<%= new_admin_option_type_path%>"><i class="far fa-dot-circle"></i>New Option Type</a></li>
              <li class="<%="active" if current_page?(admin_option_types_path)%>"><a href="<%= admin_option_types_path %>"><i class="far fa-dot-circle"></i> List Option Types </a></li>
            </ul>
          </li>

          <li class="<%="open" if controller_name == "users"%>"><a href="#"><i class="fas fa-users"></i> Users</a>
            <ul>
              <li class="<%="active" if current_page?(admin_users_path)%>"><a href="<%= admin_users_path%>"><i class="far fa-dot-circle"></i>List Users</a></li>
            </ul>
          </li>

          <li class="<%="open" if controller_name == "orders"%>"><a href="#"><i class="fab fa-first-order"></i> Orders</a>
            <ul>
              <li class="<%="active" if current_page?(admin_orders_path)%>"><a href="<%= admin_orders_path%>"><i class="far fa-dot-circle"></i>List Pre-orders</a></li>
            </ul>
            <ul>
              <li class=""><a href="<%= public_admin_orders_path%>"><i class="far fa-dot-circle"></i>List Public-orders</a></li>
            </ul>
          </li>
        </ul>

    </div>
    <div class="page-content">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <!-- Your content -->
      <%= yield %>
    </div>


  </div>

<script>window.jQuery || document.write('<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"><\/script>')</script>
</body>
</html>
<script type="text/javascript">
   $(document).ready(function(){
      $(".alert" ).fadeOut(3000);
   });
</script>
