<!DOCTYPE html>
<html>
  <head>
    <title>Tradepack|Home</title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title></title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="apple-touch-icon" href="apple-touch-icon.png">

      <%= stylesheet_link_tag 'user_devise', media: 'all' %>
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css">
      <%= javascript_include_tag 'application' %>
      <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js" %>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="<%= root_path %>"><img src="/assets/logo-white.png" /></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li ><a href="#">Actual Trade</a></li>
            <li class="<%="active" if current_page?(home_how_it_works_path)%>"><a href="<%= home_how_it_works_path %>">How it’s works?</a></li>
            <% if user_signed_in? %>
              <li class="<%="active" if current_page?(home_comparator_path)%>"><a href="<%=home_comparator_path%>">Comparator</a></li>
            <% end %>
            <li class="<%="active" if controller_name == "orders" %>"><a href="<%=select_category_orders_path%>">Ask Request</a></li>
            <li class="<%="active" if current_page?(home_contact_us_path)%>"><a href="<%=home_contact_us_path%>">Contact Us</a></li>
          </ul>
          <% if user_signed_in? %>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
            </ul>
          <% else %>
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to "Sign In", new_user_session_path %></li>
              <li><%= link_to "Sign Up", new_user_registration_path, class: "signup-a" %></li>
            </ul>
          <% end %>
        </div>
      </div>
    </nav>

    <% if user_signed_in? %>
      <div class="user-nav">
        <div class="container">
          <div class="row m0">
            <div class="col-sm-6">
              <div class="user-details">
                <div class="row m0">
                  <div class="col-sm-4">
                    <%if current_user.image?%>
                      <%= image_tag current_user.image_url, size: "100x100", class: "img-circle"%>
                    <% else %>
                      <img src="/assets/user-img.png" width="100px" height="100px">
                    <% end %>
                    </div>
                    <div class="col-sm-8">
                      <h3>Welcome, <%= current_user.first_name.titleize %> of <%= current_user.company.titleize%></h3>
                      <h4><%= current_user.primary_address.address_string%></h4>
                      <!-- <h4>Your profile is 100%</h4> -->
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="row m0 flex-wrap ">
                 <div class="<%=user_active_class(edit_user_path, edit_user_registration_path)%>">
                  <%= link_to edit_user_path do %>
                    <img src="/assets/profile.png"  >
                    <h4>Profile</h4>
                  <% end %>
                </div>
                <!-- <div class="user-links flex1">
                  <img src="/assets/email.png" >
                  <h4>Message</h4>
                </div> -->
                <div class="<%=user_active_class(my_requests_orders_path)%>">
                  <%= link_to my_requests_orders_path do%>
                    <img src="/assets/edit.png">
                    <h4>Requests</h4>
                  <% end %>
                </div>
                <div class="<%=user_active_class(my_orders_orders_path)%>">
                  <%= link_to my_orders_orders_path do%>
                    <img src="/assets/truck.png">
                    <h4>Orders</h4>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
    <div class="page-content">
      <%= yield %>
    </div>
  </div>
    <div class="signin-footer">
      <div class="container-fluid">
        <div class="pull-left">
          <p><%= link_to "Privacy", home_privacy_path %>     |     <%= link_to "FAQ?", home_faq_path %>     |     <%= link_to "Terms & Conditions", home_privacy_path %></p>
        </div>
        <div class="pull-right">
          <p>© Copyright 2018</p>
        </div>
      </div>
    </div>
  </body>
</html>
<script type="text/javascript">
  $(document).ready(function(){
    $(".alert" ).fadeOut(3000);
  });
</script>
