<!DOCTYPE html>
<html>
<title></title>
<body>

<table style="width: 100%; border: 1px solid #cccccc; border-spacing: 0px;">
  <tr>
    <td><img src="http://18.220.202.236/assets/mail-head.png" width="100%"></td>
  </tr>
  <tr>
    <td style=" padding: 20px;">
      <%=yield %>

    </td>
  </tr>
  <tr>
    <td style=" padding: 20px;"><p>© 2018 Tradepack</p></td>
  </tr>
</table>

</body>
</html>
