<!DOCTYPE html>
<html>
  <head>
    <title>Tradepack|Login</title>
    <%= csrf_meta_tags %>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <%= stylesheet_link_tag 'user_devise', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= flash_class_name(key) %>"><%= value %></div>
    <% end %>
    <%= yield %>
  </body>
</html>
<script type="text/javascript">
   $(document).ready(function(){
      $(".alert" ).fadeOut(3000);
   });
</script>
