
<!DOCTYPE html>
<html>
<title></title>
<body>

<table style="width: 100%; border: 1px solid #cccccc; border-spacing: 0px;">
  <tr>
    <td><img src="http://18.220.202.236/assets/mail-head.png" width="100%"></td>
  </tr>
  <tr>
    <td style=" padding: 20px;">
      <p>Welcome <%= @email %>!</p>

          <p>You can confirm your account email through the link below:</p>

          <p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token)%></p>

    </td>
  </tr>
  <tr>
    <td style=" padding: 20px;"><p>© 2018 Tradepack</p></td>
  </tr>
</table>

</body>
</html>
