<!DOCTYPE html>
<html>
<title></title>
<body>

<table style="width: 100%; border: 1px solid #cccccc; border-spacing: 0px;">
  <tr>
    <td><img src="http://18.220.202.236/assets/mail-head.png" width="100%"></td>
  </tr>
  <tr>
    <td style=" padding: 20px;">
      <p>Hello <%= @resource.email %>!</p>
      <p>Someone has requested a link to change your password. You can do this through the link below.</p>
      <p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>
      <p>If you didn't request this, please ignore this email.</p>
      <p>Your password won't change until you access the link above and create a new one.</p>

    </td>
  </tr>
  <tr>
    <td style=" padding: 20px;"><p>© 2018 Tradepack</p></td>
  </tr>
</table>

</body>
</html>
