
<div class="page-content">
  <div class="container">
    <div class="row m0 ml20">
      <div class="user-deatails mt30 mb30">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-4">
            <h3 class="ml20 mb20">Change Password <span class="ml10"></h3>
            <div class="row m0">
              <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, id: "change-password" }) do |f| %>
              <%= render 'shared/errors', object: f.object %>
                <div class="personal-fields">
                  <div class="form-group col-sm-6">
                    <%= f.password_field :password, class: "form-control", placeholder: "New Password", id: "password", required: true,  "data-msg-required": "Please enter new password", maxlength: 40 %>
                  </div>
                  <div class="clearfix"></div>

                  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                  <% end %>
                  <div class="form-group col-sm-6">
                    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Confirm Password", required: true, equalTo: "#password", "data-msg-required": "Please enter confirm password", maxlength: 40 %>
                  </div>

                  <div class="clearfix"></div>

                  <div class="form-group col-sm-6">
                    <%= f.password_field :current_password, autocomplete: "off", class: "form-control", placeholder: "Current Password", required: true,  "data-msg-required": "Please enter current password", maxlength: 40 %>
                  </div>
                  <div class="clearfix"></div>
                  <div class="form-group col-sm-6">
                    <%= link_to "Back", edit_user_path, class: "btn btn-default"%>
                    <%= f.submit "Update Password", class: "btn btn-primary" %>
                  </div>
                </div>
              <% end %>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
  $(document).ready(function(){
    $("#change-password").validate();
  });
</script>
