
<div class="signup-wrapper">
  <div class="signup-header">
    <div class="container-fluid">
      <div class="row m0">
        <div class="col-md-2 col-sm-4">
          <img src="/assets/logo1.png" width="100%">
        </div>
        <%= link_to "Log In", new_user_session_path, class: "btn-login btn" %>
      </div>
    </div>
  </div>
  <div class="signup-inner">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-6">
          <h2>Sign up for free.</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua.</p>
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { id: "new_user", autocomplete: "off"}) do |f| %>
            <%= render 'shared/errors', object: f.object %>
            <div class="signup_first">
              <div class="form-group mt20">
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control sign-input", placeholder:"Email", id: "email" %>
              </div>
              <div class="form-group">
                <%= f.password_field :password, autocomplete: "off", class: "form-control sign-input", placeholder: "Password", id: "password" %>
              </div>
              <div class="form-group">
                <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control sign-input", placeholder: "Re-enter Password", id: "confirm_password" %>
              </div>
              <div class="form-group">
                <%= f.text_field :first_name, class: "form-control sign-input", placeholder: "First Name", id: "first_name"%>
              </div>
              <div class="form-group">
                <%= f.text_field :last_name, class: "form-control sign-input", placeholder: "Last Name", id: "last_name" %>
              </div>
              <div class="form-group">
               <!-- image-preview-filename input [CUT FROM HERE]-->
                <div class="input-group image-preview">
                  <input type="text" class="form-control image-preview-filename sign-input" disabled="disabled"> <!-- don't give a name === doesn't send on POST/GET -->
                  <span class="input-group-btn">
                  <!-- image-preview-clear button -->
                    <button type="button" class="btn btn-default image-preview-clear" style="display:none;">
                    <span class="glyphicon glyphicon-remove"></span> Clear
                    </button>
                  <!-- image-preview-input -->
                    <div class="btn btn-default image-preview-input image-register">
                      <span class="glyphicon glyphicon-folder-open"></span>
                      <span class="image-preview-input-title">Browse</span>
                      <%= f.file_field :image, accept: 'image/png,image/jpeg,image/jpg', id: "user-image", required: true, "data-msg-required": "Image is required" %>
                    </div>
                  </span>
                </div>
                <label id="user-image-error" class="error" for="user-image" style='display:none;'>Image is required</label>
              </div>
              <button type="button" class="btn btn-main btn-block mt30 sign-input" id="btn-1" >Continue</button>
            </div>
            <div class="signup_second">
              <div class="form-group">
                <%= f.text_field :company, class: "form-control sign-input", placeholder: "Company Name", required: true, "data-msg-required": "Please enter company name", maxlength: 40%>
              </div>

              <div class="form-group">
                <div class="col-sm-2 form-group" style="padding-right: 0px;padding-left:0px;" >
                  <%= f.select :vat_code, options_for_select(User::VAT_COUNTRIES.sort), {include_blank: "Vat country"}, {class: "form-control sign-input", required: true, "data-msg-required": "Required"}%>
                </div>
                <div class="col-sm-10 form-group" style="padding-right: 0px;">
                  <%= f.text_field :vat_no, class: "form-control sign-input", placeholder: "Vat Number", required: true, "data-msg-required": "Please enter vat number", maxlength: 40 %>
                </div>
              </div>

              <%= f.fields_for :primary_address do |a| %>
              <div class="form-group">
                <%= a.text_field :address1, class: "form-control sign-input", placeholder: "Enter Street/Number", required: true, "data-msg-required": "Please enter street details", maxlength: 40 %>
              </div>
              <div class="form-group">
                <%= a.text_field :address2, class: "form-control sign-input", placeholder: "Enter Box details ", required: true, "data-msg-required": "Please enter box details", maxlength: 40 %>
              </div>
              <div class="form-group">
                <%= a.select :country, CS.countries.values, { prompt: "Select Country" },{class: "form-control sign-input", placeholder: "Select Country", required: true, id: "select_country", "data-msg-required": "Please select country"}  %>
              </div>
              <div class="form-group">
                <%= a.select :state , {}, {prompt: "Select State"},{class: "form-control sign-input", required: true, id: "select_state", "data-msg-required": "Please select state"}   %>
              </div>
              <div class="form-group">
                <%= a.text_field :city, class: "form-control sign-input", placeholder: "Enter Locality/Town", required: true, "data-msg-required": "Please enter city", maxlength: 30 %>
              </div>

              <div class="form-group">
                <%= a.text_field :zip, class: "form-control sign-input", placeholder: "Enter Postal Code", required: true, "data-msg-required": "Please enter zip code", maxlength: 30 %>
              </div>

              <% end%>
              <div class="form-group">
                <%= f.text_field :phone_no, class: "form-control sign-input", placeholder: "Phone Number", required: true, "pattern": "[0-9\-\(\)\s]+.", "data-msg-required": "Please enter phone number", maxlength: 30 %>
              </div>
              <%= f.submit "Submit", class: "btn btn-main btn-block mt30" %>
            </div>
            <% end %>
            <%= render "devise/shared/links" %>

          </div>
        </div>
      </div>
    </div>
    <div class="signin-footer">
      <div class="container-fluid">
        <div class="pull-left">
          <p>Privacy     |     Legal     |     Terms & Condition</p>
        </div>
        <div class="pull-right">
          <p>© Copyright 2018</p>
        </div>
      </div>
    </div>
  </div>

  <script>
    $(document).ready(function(){
      $("#new_user").validate({
          rules: {
            "user[email]": {
              required: true,
              email: true,
              pattern: /^\b[A-Z0-9._%-]+@[A-Z0-9.-]+\.[A-Z]{2,4}\b$/i
            }
          }
      });
      $('#btn-1').on('click', function() {
        $("#password").rules("add", {
           required : true,
           messages : { required : 'Password is required.' }
        });
        $("#email").rules("add", {
           required: true,
              email: true,
              maxlength: 50,
              pattern: /^\b[A-Z0-9._%-]+@[A-Z0-9.-]+\.[A-Z]{2,4}\b$/i,
           messages : { required : 'Email is required.',
           pattern: "Please enter a valid email address" }
        });
        $("#confirm_password").rules("add", {
           required : true,
           equalTo: "#password",
           maxlength: 30,
           messages : { required : 'Confirm password is required.' }
        });
        $("#first_name").rules("add", {
           required : true,
           maxlength: 30,
           messages : { required : 'First name is required.' }
        });

        $("#last_name").rules("add", {
           required : true,
           maxlength: 30,
           messages : { required : 'Last name is required.' }
        });

        if($("#new_user").valid()) {
          $('.signup_first').hide();
          $('.signup_second').show();
        }
      });
    });

  $("#select_country").on('change', function() {
    var country = $(this).val();
    $.ajax({
      url: "/admin/sellers/states",
      type: "GET",
      data: {country: country}
    });
  });

  $(document).ready(function(){
    // $("#new_user").validate();
    $('.selectpicker').selectpicker();
    $('.signup_second').hide();
  });

  </script>
<script>
$(document).on('click', '#close-preview', function(){
  $('.image-preview').popover('hide');
  // Hover befor close the preview
  $('.image-preview').hover(
    function () {
     $('.image-preview').popover('show');
   },
   function () {
     $('.image-preview').popover('hide');
   }
   );
});

$(function() {
  // Create the close button
  var closebtn = $('<button/>', {
    type:"button",
    text: 'x',
    id: 'close-preview',
    style: 'font-size: initial;',
  });
  closebtn.attr("class","close ");
  // Set the popover default content
  $('.image-preview').popover({
    trigger:'manual',
    html:true,
    title: "<strong>Preview</strong>"+$(closebtn)[0].outerHTML,
    content: "There's no image",
    placement:'bottom'
  });
  // Clear event
  $('.image-preview-clear').click(function(){
    $('.image-preview').attr("data-content","").popover('hide');
    $('.image-preview-filename').val("");
    $('.image-preview-clear').hide();
    $('.image-preview-input input:file').val("");
    $(".image-preview-input-title").text("Browse");
  });
  // Create the preview image
  $(".image-preview-input input:file").change(function (){
  var img = $('<img/>', {
    id: 'dynamic',
    width:250,
    height:200
  });
  var file = this.files[0];
  var reader = new FileReader();
    // Set preview image into the popover data-content
    reader.onload = function (e) {
      $(".image-preview-input-title").text("Change");
      $(".image-preview-clear").show();
      $(".image-preview-filename").val(file.name);
      img.attr('src', e.target.result);
      $(".image-preview").attr("data-content",$(img)[0].outerHTML).popover("show");
    }
    reader.readAsDataURL(file);
  });
});


</script>
